# INEFE-Instituto de Estudos e de Formação Especializada

## Professor: Orlando Oliveira dos Santos, MsC.
orlandosantos@gmail.com
(61) 99646 6151


#  PROGRAMA PYTHON ANALYTICS e DATA SCIENCE

# Pandas Parte 2 
## Índice de valores mín. / Máx. 
- As funções idxmin()e idxmax() em Series e DataFrame calculam os rótulos de índice correspondentes aos valores mínimo e máximo 
- idxmine idxmax são chamados argmine argmaxem NumPy.
- Quando houver várias linhas (ou colunas) correspondendo ao valor mínimo ou máximo idxmin()e idxmax() retornar o primeiro índice correspondente

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF','CASOS','OBITOS'])
df.head()

In [ ]:
df.CASOS.idxmin(), df.CASOS.idxmax()

In [ ]:
df[['CASOS', 'OBITOS']].idxmin(axis=0)

In [ ]:
df[['CASOS', 'OBITOS']].T

In [ ]:
df[['CASOS', 'OBITOS']].T.idxmin(axis=1)

## Contagens de valor (histograma) / modo 
- O método value_counts() calcula um histograma de uma matriz 1D de valores

In [ ]:
df.REGIAO.value_counts()

In [ ]:
pd.value_counts(df.REGIAO)

In [ ]:
df.groupby('REGIAO').count()

In [ ]:
df['REGIAO'].count()

In [ ]:
df.groupby('REGIAO').count() / df['REGIAO'].count()

In [ ]:
pd.value_counts(df.REGIAO) / df['REGIAO'].count()

### O método value_counts() pode ser usado para contar combinações em várias colunas.

In [ ]:
df['casos100milhares'] = df['CASOS']/100_000
df['casos100milhares'] = df['casos100milhares'].astype(int)
df

In [ ]:
df[['REGIAO', 'casos100milhares']].value_counts()

### Da mesma forma, você pode obter os valores de ocorrência mais frequente, ou seja, a moda

In [ ]:
df.REGIAO.mode()

In [ ]:
df.casos100milhares.mode()

## Discretização e quantificação 
Valores contínuos podem ser discretizados usando as funções

- cut()(bins com base em valores) e 
- qcut()(bins com base em quantis de amostra):

In [ ]:
df.head()

In [ ]:
df['intervalos'] = pd.cut(df.OBITOS, 4)
df.head()

In [ ]:
pd.value_counts(df['intervalos'])

In [ ]:
df['intervalos'] = pd.cut(df.OBITOS, [0, 5000, 10000, 15000, 20000, 30000, 40000, 50000])
df.head()

In [ ]:
pd.value_counts(df['intervalos'])

## qcut() calcula quantis de amostra.

- Divir em quartis de tamanhos iguais, como:

In [ ]:
df['intervalos'] = pd.qcut(df.OBITOS, [0, .25, .5, .75, 1])

df.head()

In [ ]:
pd.value_counts(df['intervalos'])

## Também podemos passar valores infinitos para definir os bins:

In [ ]:
df['intervalos'] = pd.cut(df.OBITOS, [-np.inf, 3000, 5000 ,np.inf])

df['intervalos'].head()

In [ ]:
pd.value_counts(df['intervalos'])

# Função de Aplicação
Para aplicar as suas próprias funções ou as de outra biblioteca aos objetos pandas, exitem três formas:
- Aplicação de função tablewise :pipe()
- Aplicação de função em linha ou coluna :apply()
- API de agregação : agg() e transform()
- Aplicando funções Elementwise :applymap()

### Aplicação da função tablewise 
DataFrames e Seriespode ser passado para funções. 
No entanto, se a função precisar ser chamada de forma encadeada, considere o uso do método pipe().

In [ ]:
import pandas as pd
df = pd.read_csv('/content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF','CASOS','OBITOS'])
df.head()

In [ ]:
df['OBITOSMILHARES'] = df['OBITOS']/1000
df['CASOSMILHARES'] = df['CASOS']/1000
df['LETALIDADE'] = df['OBITOS']/ df['CASOS'] * 100
df.head()

In [ ]:
def calculaobitosemmilhares(df):
    df['OBITOSMILHARES'] = df['OBITOS']/1000
    return df

def calculacasosemmilhares(df):
    df['CASOSMILHARES'] = df['CASOS']/1000
    return df

def calculaletalidades(df):
    df['LETALIDADE'] = df['OBITOS']/ df['CASOS'] * 100
    return df

In [ ]:
df = df[['REGIAO','UF','CASOS','OBITOS']]
df.head()

In [ ]:
calculaletalidades(calculaobitosemmilhares(calculacasosemmilhares(df))).head()

### É equivalente a:

In [ ]:
df = pd.read_csv('/content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF','CASOS','OBITOS'])
df.head()

In [ ]:
(df.pipe(calculaobitosemmilhares)
    .pipe(calculacasosemmilhares)
    .pipe(calculaletalidades)
)
df.head()

### O Pandas recomenda o uso do pipe pois torna mais fácil usar suas próprias funções ou as funções de outra biblioteca encadeadas com os métodos do pandas.

In [ ]:
(df.groupby('REGIAO')
    .pipe(lambda x: x.sum())
    .pipe(calculaobitosemmilhares)
    .pipe(calculacasosemmilhares)
    .pipe(lambda x: x.cumsum())
    .head()
)

### Aplicação de função em linha ou coluna 

As funções arbitrárias podem ser aplicadas ao longo dos eixos de um DataFrame usando o método apply(), que, como os métodos de estatística descritiva, tem um axis argumento opcional

In [ ]:
df = pd.read_csv('/content/totaisestadoscomregiao_arr.csv', sep=';'
                 ,names =['REGIAO','UF','CASOS','OBITOS'])
df.head()

In [ ]:
df[['CASOS', 'OBITOS']].apply(np.mean)

In [ ]:
dfT = df[['CASOS', 'OBITOS']].T
dfT

In [ ]:
dfT.apply(np.mean, axis=1)

In [ ]:
df[['CASOS', 'OBITOS']].apply(lambda x: x.max() - x.min())

In [ ]:
df[['CASOS', 'OBITOS']].apply(np.cumsum).tail()

In [ ]:
df[['CASOS', 'OBITOS']].apply(np.log).tail()

O método apply() também pode ser passado um nome de método como texto

In [ ]:
df[['CASOS', 'OBITOS']].apply('mean')

In [ ]:
df[['CASOS', 'OBITOS']].T.apply('mean', axis=1)

In [ ]:
df[['CASOS', 'OBITOS']].apply(lambda x: x.idxmax())

### Pode passar argumentos adicionais e argumentos de palavra-chave para o método apply() .

In [ ]:
def valores_em_outra_unidade(x, divisor=1000):
    return (x / divisor)

In [ ]:
df[['CASOS', 'OBITOS']].apply(valores_em_outra_unidade, divisor=100).head()

# API Transform 
- O método transform() retorna um objeto indexado com o mesmo (mesmo tamanho) do original.
- Essa api é muito semelhante à API .agg.

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/totaisregioes_arr.csv', sep=';',names =['REGIAO','CASOS','OBITOS'])
df.head()

In [ ]:
df[3:5] = df[3:5].assign(CASOS = lambda x: x['CASOS'] * -1, OBITOS = lambda x: x['OBITOS'] * -1)
df.head()

### Transforme todo o quadro. 
.transform() permite funções de entrada como: uma função NumPy, um nome de função de string ou uma função definida pelo usuário.

In [ ]:
df[['CASOS', 'OBITOS']].transform(np.abs)

In [ ]:
df[['CASOS', 'OBITOS']].transform('abs')

In [ ]:
df[['CASOS', 'OBITOS']].transform(lambda x: x.abs())

### Passar uma única função para .transform()  com um Series  resultará em uma única Series em retorno.

In [ ]:
df['CASOS'].transform(np.square)

### Transforme com várias funções 
A passagem de várias funções produzirá uma coluna MultiIndexed DataFrame. O primeiro nível será os nomes das colunas do quadro original; o segundo nível serão os nomes das funções de transformação.

In [ ]:
df.transform([np.abs, lambda x: x /1000, np.log])

Passar várias funções para uma série produzirá um DataFrame. Os nomes das colunas resultantes serão as funções de transformação.

In [ ]:
df['CASOS'].transform([np.abs, lambda x: x /1000, np.log])

### Transformando com um dicionario 
A passagem de um dicionário de funções permitirá a transformação seletiva por coluna.

In [ ]:
df.transform({'CASOS': np.abs, 'OBITOS': lambda x: x /1000})

Passar um dicionário de listas irá gerar um MultiIndexed DataFrame com essas transformações seletivas.

In [ ]:
df.transform({'CASOS': np.abs, 'OBITOS': [lambda x: x /1000, np.log, np.log10]})

In [ ]:
df2 = df.transform({'CASOS': np.abs, 'OBITOS': [lambda x: x /1000, np.log, np.log10]})
df2

In [ ]:
df2.columns = ['CASOS','OBITOS em mil','OBITOS log','OBITOS log10']
df2

## Aplicando funções elementwise 
Como nem todas as funções podem ser vetorizadas (aceitar matrizes NumPy e retornar outra matriz ou valor), os métodos applymap() em DataFrame aceitam qualquer função Python assumindo um único valor e retornando um único valor.

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/totaisregioes_arr.csv', sep=';',names =['REGIAO','CASOS','OBITOS'])
df.head()

In [ ]:
def extrai_sigla(x):
    return ''.join([w[0] for w in x.split('-') ]) + ('E' if 'deste' in x else '')

In [ ]:
df['REGIAO'].map(extrai_sigla)

In [ ]:
def unidade_milhares(x):
    valor = x
    
    if type(valor) is int:
        valor = round(valor/1000,2)
    return valor
        
unidade_milhares(121323)

In [ ]:
def uppertext(x):
    return str(x).upper()

In [ ]:
df

In [ ]:
df.applymap(uppertext)

In [ ]:
df.applymap(unidade_milhares)

### Series.map() tem um recurso adicional; pode ser usado para “vincular” ou “mapear” facilmente valores definidos por uma série secundária.

In [ ]:
regioes = pd.Series({'Centro-Oeste':'CO', 'Nordeste':'NE', 'Norte' : 'N', 'Sudeste': 'SE', 'Sul': 'S'})
regioes

In [ ]:
df['SIGLA_REGIAO'] = df['REGIAO'].map(regioes)
df

# Reindexando e alterando rótulos 
reindex() é o método de alinhamento de dados fundamental em pandas.

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF', 'CASOS','OBITOS'], index_col=False)
df.head()

In [ ]:
novoindex =  sorted(df.index, reverse= True)
print(novoindex)

colunas= sorted(df.columns, reverse= True)
print(colunas)

In [ ]:
df.reindex(novoindex).head()

In [ ]:
df.reindex(index=novoindex, columns=colunas).head()

In [ ]:
df.reindex(novoindex, axis='index').head()

In [ ]:
df.reindex(colunas, axis='columns').head()

In [ ]:
obitos = df['OBITOS']
obitos = obitos.reindex(novoindex)
obitos.head()

In [ ]:
df['CASOS'].head()

In [ ]:
df['CASOS'].reindex_like(obitos).head()

## Descartando rótulos de um eixo 
A função drop() remove um conjunto de rótulos de um eixo:

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO', 'UF', 'CASOS','OBITOS'], index_col=False)
df.head()

In [ ]:
df.drop([1,2,3,4,5,6,7,8,9], axis=0).head()

In [ ]:
df.drop(['REGIAO', 'CASOS'], axis=1).head()

# Renomeando / mapeando rótulos 
O método rename() permite que você renomeie um eixo com base em algum mapeamento (um dicionário ou série) ou uma função arbitrária.

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/totaisregioes_arr.csv', sep=';',names =['REGIAO', 'CASOS','OBITOS'], index_col='REGIAO')
df.head()

In [ ]:
df['CASOS'].rename(str.upper).head()

### Um dicionário ou série também pode ser usado
- Se o mapeamento não incluir um rótulo de coluna / índice, ele não será renomeado

In [ ]:
df.rename(columns={'CASOS': 'Qtd.Casos', 'OBITOS': 'Qtd. Obitos'},
          index={'Centro-Oeste': 'CO', 'Nordeste': 'NE', 'Norte': 'N', 
                 'Sudeste': 'SE', 'Sul': 'S'})

In [ ]:
df.rename({'CASOS': 'casos', 'OBITOS': 'obitos'}, axis='columns')

In [ ]:
df.rename({'Centro-Oeste': 'CO', 'Nordeste': 'NE', 'Norte': 'N', 
           'Sudeste': 'SE', 'Sul': 'S'}, axis='index')

In [ ]:
df

### Usando rename inplace

In [ ]:
df.rename(columns={'CASOS': 'casos', 'OBITOS': 'obitos'},
      index={'Centro-Oeste': 'CO', 'Nordeste': 'NE', 'Norte': 'N', 'Sudeste': 'SE', 'Sul': 'S'},
         inplace=True)
df

# Interando com DataFrame

### Interando pelas colunas

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/totaisregioes_arr.csv', sep=';',names =['REGIAO', 'CASOS','OBITOS'], index_col='REGIAO')
df.head()

In [ ]:
for col in df:
    print(col)
    print(df[col].sum())

### Os objetos Pandas também possuem o método items() do tipo dict para iterar os pares (chave, valor).

In [ ]:
for col, values in df.items():
    print(f"coluna: {col} , total { values.sum()}")

### Interando  usando métodos iterrows(): 
Itere sobre as linhas de um DataFrame como pares (índice, série). Isso converte as linhas em objetos Series, o que pode alterar os dtypes e tem algumas implicações de desempenho.

In [ ]:
for id, linha in df.iterrows():
    print(id, linha['CASOS'], linha['OBITOS'])

### Interando o método itertuples(): 
Itere sobre as linhas de um DataFrame como pares nomeados dos valores. Isso é muito mais rápido iterrows()e, na maioria dos casos, é preferível usar para iterar os valores de um DataFrame.

In [ ]:
for row in df.itertuples():
    print(row[0], row[1], row[2])

### Atenção

A iteração por meio de objetos pandas é geralmente lenta . Em muitos casos, a iteração manual nas linhas não é necessária e 
Você nunca deve modificar algo sobre o qual está iterando. 
Por exemplo, no seguinte caso, definir o valor pode em alguns casos não ter efeito:

In [ ]:
df

In [ ]:
for index, row in df.iterrows():
    row['CASOS'] = row['CASOS']  / 100_000

In [ ]:
df

# Métodos vetorizados de string 
A série é equipada com um conjunto de métodos de processamento de strings que facilitam a operação em cada elemento da matriz.

Eles são acessados ​​por meio do stratributo da série e geralmente têm nomes que correspondem aos métodos de string embutidos equivalentes (escalares).

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/totaisregioes_arr.csv', sep=';',names =['REGIAO', 'CASOS','OBITOS'], index_col=False)
df.head()

In [ ]:
df['REGIAO'].str.lower()

In [ ]:
df['REGIAO'].str.upper()

In [ ]:
df['REGIAO'].str.title()

# Classificando - Ordenação de Dados
O Pandas suporta três tipos de classificação: classificação por rótulos de índice, classificação por valores de coluna e classificação por uma combinação de ambos.

## Ordenando DataFrame Por índice 
Os métodos Series.sort_index()e DataFrame.sort_index()são usados ​​para classificar um objeto pandas por seus níveis de índice.

In [ ]:
import pandas as pd
df = pd.read_csv('/content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO', 'UF', 'CASOS','OBITOS'], index_col=False)
df.head()

         REGIAO  UF   CASOS  OBITOS
0  Centro-Oeste  DF  235480    4011
1  Centro-Oeste  GO  287858    6486
2  Centro-Oeste  MS  107235    1852
3  Centro-Oeste  MT  162923    4159
4      Nordeste  AL   96973    2360

In [ ]:
import numpy as np
index = np.array(df.index)
print(index)
np.random.shuffle(index)
print(index)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26]
[20 26 24  9 16 18  6  2 12  8 22 11 10 23 17 19  0 14 13  5  7  1 21  3
 25 15  4]

In [ ]:
df = df.reindex(index)
df.head()

      REGIAO  UF   CASOS  OBITOS
20   Sudeste  ES  204292    4455
26       Sul  SC  406003    4132
24       Sul  PR  308811    6539
9   Nordeste  PE  192397    9186
16     Norte  PA  276221    6959

In [ ]:
df.sort_index().head()

         REGIAO  UF   CASOS  OBITOS
0  Centro-Oeste  DF  235480    4011
1  Centro-Oeste  GO  287858    6486
2  Centro-Oeste  MS  107235    1852
3  Centro-Oeste  MT  162923    4159
4      Nordeste  AL   96973    2360

In [ ]:
df.sort_index(ascending=False).head()

     REGIAO  UF    CASOS  OBITOS
26      Sul  SC   406003    4132
25      Sul  RS   354683    7316
24      Sul  PR   308811    6539
23  Sudeste  SP  1296801   43282
22  Sudeste  RJ   374753   23270

In [ ]:
df.sort_index(axis=1).head()

     CASOS  OBITOS    REGIAO  UF
20  204292    4455   Sudeste  ES
26  406003    4132       Sul  SC
24  308811    6539       Sul  PR
9   192397    9186  Nordeste  PE
16  276221    6959     Norte  PA

## Ordenando Series Por índice

In [ ]:
df['UF'].sort_index().head()

0    DF
1    GO
2    MS
3    MT
4    AL
Name: UF, dtype: object

A classificação por índice também oferece suporte a um parâmetro key  que usa uma função que pode ser chamada para ser aplicada ao índice que está sendo classificado.

In [ ]:
df.head()

      REGIAO  UF   CASOS  OBITOS
20   Sudeste  ES  204292    4455
26       Sul  SC  406003    4132
24       Sul  PR  308811    6539
9   Nordeste  PE  192397    9186
16     Norte  PA  276221    6959

In [ ]:
df.set_index('UF')

          REGIAO    CASOS  OBITOS
UF
ES       Sudeste   204292    4455
SC           Sul   406003    4132
PR           Sul   308811    6539
PE      Nordeste   192397    9186
PA         Norte   276221    6959
RR         Norte    65084     744
CE      Nordeste   309168    9738
MS  Centro-Oeste   107235    1852
SE      Nordeste    95493    2341
PB      Nordeste   150575    3380
RJ       Sudeste   374753   23270
RN      Nordeste    98831    2753
PI      Nordeste   132095    2691
SP       Sudeste  1296801   43282
RO         Norte    83959    1610
TO         Norte    83948    1187
DF  Centro-Oeste   235480    4011
AM         Norte   183830    4969
AC         Norte    37556     737
BA      Nordeste   428034    8474
MA      Nordeste   195589    4349
GO  Centro-Oeste   287858    6486
MG       Sudeste   444800   10345
MT  Centro-Oeste   162923    4159
RS           Sul   354683    7316
AP         Norte    61607     834
AL      Nordeste    96973    2360

In [ ]:
df.set_index('UF').sort_index(key=lambda idx: [x[1] for x in  idx]).head(10)

          REGIAO   CASOS  OBITOS
UF
BA      Nordeste  428034    8474
MA      Nordeste  195589    4349
PA         Norte  276221    6959
PB      Nordeste  150575    3380
AC         Norte   37556     737
SC           Sul  406003    4132
CE      Nordeste  309168    9738
SE      Nordeste   95493    2341
PE      Nordeste  192397    9186
DF  Centro-Oeste  235480    4011

### Ordenando DataFrames Por valores 

O método Series.sort_values() é usado para classificar uma série por seus valores. 

O método DataFrame.sort_values() é usado para classificar um DataFrame por seus valores de coluna ou linha. 


O parâmetro opcional by para DataFrame.sort_values()pode ser usado para especificar uma ou mais colunas a serem usadas para determinar a ordem de classificação.

In [ ]:
df.sort_values(by='UF').head()

      REGIAO  UF   CASOS  OBITOS
13     Norte  AC   37556     737
4   Nordeste  AL   96973    2360
14     Norte  AM  183830    4969
15     Norte  AP   61607     834
5   Nordeste  BA  428034    8474

O byparâmetro pode levar uma lista de nomes de coluna, por exemplo:

In [ ]:
df.sort_values(by=['REGIAO','UF']).head()

         REGIAO  UF   CASOS  OBITOS
0  Centro-Oeste  DF  235480    4011
1  Centro-Oeste  GO  287858    6486
2  Centro-Oeste  MS  107235    1852
3  Centro-Oeste  MT  162923    4159
4      Nordeste  AL   96973    2360

Esses métodos têm tratamento especial de valores NA por meio do na_position argumento:

In [ ]:
import pandas as pd
df = pd.read_csv('/content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO', 'UF', 'CASOS','OBITOS'], index_col=False)
df.head()

         REGIAO  UF   CASOS  OBITOS
0  Centro-Oeste  DF  235480    4011
1  Centro-Oeste  GO  287858    6486
2  Centro-Oeste  MS  107235    1852
3  Centro-Oeste  MT  162923    4159
4      Nordeste  AL   96973    2360

In [ ]:
df.loc[ 20 , ['OBITOS']] = np.nan
df.loc[ 26 , ['OBITOS']] = np.nan

In [ ]:
df.sort_values(by='OBITOS', na_position='first').head()

     REGIAO  UF   CASOS  OBITOS
20  Sudeste  ES  204292     NaN
26      Sul  SC  406003     NaN
13    Norte  AC   37556   737.0
18    Norte  RR   65084   744.0
15    Norte  AP   61607   834.0

A classificação também oferece suporte a um parâmetro key   que usa uma função chamável para aplicar aos valores que estão sendo classificados.

In [ ]:
df['CASOS'].sort_values(key=lambda x: x//100_000, ascending=False)

23    1296801
26     406003
21     444800
5      428034
24     308811
22     374753
6      309168
25     354683
16     276221
1      287858
0      235480
20     204292
14     183830
10     132095
9      192397
8      150575
7      195589
3      162923
2      107235
15      61607
17      83959
12      95493
11      98831
18      65084
19      83948
4       96973
13      37556
Name: CASOS, dtype: int64

A chave receberá os Series valores de e deve retornar um Series ou array da mesma forma com os valores transformados. Para objetos DataFrame , a chave é aplicada por coluna, então a chave ainda deve esperar uma série e retornar uma série, por exemplo

In [ ]:
df.sort_values(by='CASOS',  key=lambda x: x//100_000, ascending=False)

          REGIAO  UF    CASOS   OBITOS
23       Sudeste  SP  1296801  43282.0
26           Sul  SC   406003      NaN
5       Nordeste  BA   428034   8474.0
21       Sudeste  MG   444800  10345.0
25           Sul  RS   354683   7316.0
24           Sul  PR   308811   6539.0
6       Nordeste  CE   309168   9738.0
22       Sudeste  RJ   374753  23270.0
1   Centro-Oeste  GO   287858   6486.0
20       Sudeste  ES   204292      NaN
16         Norte  PA   276221   6959.0
0   Centro-Oeste  DF   235480   4011.0
14         Norte  AM   183830   4969.0
10      Nordeste  PI   132095   2691.0
9       Nordeste  PE   192397   9186.0
8       Nordeste  PB   150575   3380.0
7       Nordeste  MA   195589   4349.0
3   Centro-Oeste  MT   162923   4159.0
2   Centro-Oeste  MS   107235   1852.0
12      Nordeste  SE    95493   2341.0
11      Nordeste  RN    98831   2753.0
15         Norte  AP    61607    834.0
17         Norte  RO    83959   1610.0
18         Norte  RR    65084    744.0
19         Norte  TO    83948   1187.0
4       Nordeste  AL    96973   2360.0
13         Norte  AC    37556    737.0

## menor / maior valor 
Series tem os métodos nsmallest() e nlargest() que retornam o menor ou o maior nvalores.

In [ ]:
df['CASOS'].nsmallest(5)

13    37556
15    61607
18    65084
19    83948
17    83959
Name: CASOS, dtype: int64

In [ ]:
df['CASOS'].nlargest(5)

23    1296801
21     444800
5      428034
26     406003
22     374753
Name: CASOS, dtype: int64

Data Frametambém tem os métodos nlargeste nsmallest.

In [ ]:
df.nlargest(3, 'CASOS')

      REGIAO  UF    CASOS   OBITOS
23   Sudeste  SP  1296801  43282.0
21   Sudeste  MG   444800  10345.0
5   Nordeste  BA   428034   8474.0

In [ ]:
df.nlargest(5, ['CASOS', 'OBITOS'])

      REGIAO  UF    CASOS   OBITOS
23   Sudeste  SP  1296801  43282.0
21   Sudeste  MG   444800  10345.0
5   Nordeste  BA   428034   8474.0
26       Sul  SC   406003      NaN
22   Sudeste  RJ   374753  23270.0

In [ ]:
df.nsmallest(3, 'CASOS')

   REGIAO  UF  CASOS  OBITOS
13  Norte  AC  37556   737.0
15  Norte  AP  61607   834.0
18  Norte  RR  65084   744.0

In [ ]:
df.nsmallest(5, ['CASOS', 'OBITOS'])

   REGIAO  UF  CASOS  OBITOS
13  Norte  AC  37556   737.0
15  Norte  AP  61607   834.0
18  Norte  RR  65084   744.0
19  Norte  TO  83948  1187.0
17  Norte  RO  83959  1610.0

## Leituras Adicionais e Referências:

- Python Tutorial at W3Schools: https://www.w3schools.com/python/
- Python official documentation: https://docs.python.org/3/tutorial/index.html

# Exercícios de Fixação
***
- Utilizando o conteúdo abaixo, extraído do portal do IBGE (https://www.ibge.gov.br/cidades-e-estados), atribua-o a uma variável chamada estados do Brasil

## Entrega dos Exercícios:
Os notebooks devem ser postados no ambiente virtual https://inefeonline.com.br/ no tópico da respectiva aula para avaliação.

# Agradecimentos

## Muito obrigado a todos os presentes e até a próxima aula.