# INEFE-Instituto de Estudos e de Formação Especializada

## Professor: Orlando Oliveira dos Santos, MsC.
orlandosantos@gmail.com
(61) 99646 6151


#  PROGRAMA PYTHON ANALYTICS e DATA SCIENCE

# Manipulação de dados com Pandas 

## Pandas

O pandas é uma ferramenta de análise e manipulação de dados de código aberto rápida, poderosa, flexível e fácil de usar,
construída sobre a linguagem de programação Python 

https://pandas.pydata.org/

## Estruturas de dados do Pandas

In [ ]:
import numpy as np
import pandas as pd

### Série 
- Serie é uma matriz rotulada unidimensional capaz de conter qualquer tipo de dados (inteiros, strings, números de ponto flutuante, objetos Python, etc.). 
- Os rótulos dos eixos são chamados coletivamente de índice.
- O método básico para criar uma série é chamar:

``` 
s = pd.Series(data, index=index)

```

- data pode ser dicionário, ndarray, valor escalar.
- index deve ser lista de rótulos de eixo. 
- Se data for um ndarray, o índice deve ter o mesmo comprimento dos dados . 
- Se nenhum índice for passado, um será criado com valores de 0 até len(data)-1

### Criar série a partir de um array

In [ ]:
import string
data = [x for x in string.ascii_lowercase]

s = pd.Series(data)
print(s)
s.index

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

RangeIndex(start=0, stop=26, step=1)

In [ ]:
import string
data = [x for x in string.ascii_lowercase]
index = list(range(0,len(data)))

s = pd.Series(data, index=index)
print(s)
s.index

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25],
           dtype='int64')

In [ ]:
index = [x for x in string.ascii_lowercase]
data = list(range(0,len(index)))

s = pd.Series(data, index=index)
print(s)
s.index

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
      dtype='object')

- Pode se ter indices duplicados, mas isso pode levar erros em funcões que exigem indices exclusivos.

In [ ]:
s = pd.Series(np.random.randint(10, size=10), index=['a', 'b', 'c', 'd', 'e','a', 'b', 'c', 'd', 'e'])
print(s)
print(s['a'])
s.index

a    6
b    8
c    1
d    7
e    2
a    5
b    1
c    0
d    8
e    1
dtype: int64
a    6
a    5
dtype: int64

Index(['a', 'b', 'c', 'd',
       'e', 'a', 'b', 'c',
       'd', 'e'],
      dtype='object')

### Criar série a partir de um  dict

In [ ]:
import string
data = [x for x in string.ascii_lowercase]
index = list(range(0,len(data)))

dict1 =  { x : y for x, y in zip(index,data)}
print(dict1)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e', 5: 'f', 6: 'g', 7: 'h', 8: 'i', 9: 'j', 10: 'k', 11: 'l', 12: 'm', 13: 'n', 14: 'o', 15: 'p', 16: 'q', 17: 'r', 18: 's', 19: 't', 20: 'u', 21: 'v', 22: 'w', 23: 'x', 24: 'y', 25: 'z'}

In [ ]:

s = pd.Series(dict1)
print(s)

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [ ]:
s = pd.Series(dict1, index=[1,3,5,7])
print(s)

1    b
3    d
5    f
7    h
dtype: object

- Se um índice for passado, os dados serão obtidos no dicionário usando o valores do indice como chave, e a ordenação será a adotada no indice.  Se a chave não for encontrada do valor será NaN (não um número) é o marcador padrão de dados vazios usado nos pandas

In [ ]:
import string
data = [x for x in string.ascii_lowercase]
index = list(range(0,len(data)))

dict1 =  { x : y for x, y in zip(index,data)}
print(dict1)

novo_index = sorted(index,reverse=True)

novo_index = novo_index +  list(range(26,50,1))

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e', 5: 'f', 6: 'g', 7: 'h', 8: 'i', 9: 'j', 10: 'k', 11: 'l', 12: 'm', 13: 'n', 14: 'o', 15: 'p', 16: 'q', 17: 'r', 18: 's', 19: 't', 20: 'u', 21: 'v', 22: 'w', 23: 'x', 24: 'y', 25: 'z'}

In [ ]:
novo_index

[25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [ ]:
s = pd.Series(dict1, index=novo_index)
print(s)

25      z
24      y
23      x
22      w
21      v
20      u
19      t
18      s
17      r
16      q
15      p
14      o
13      n
12      m
11      l
10      k
9       j
8       i
7       h
6       g
5       f
4       e
3       d
2       c
1       b
0       a
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
32    NaN
33    NaN
34    NaN
35    NaN
36    NaN
37    NaN
38    NaN
39    NaN
40    NaN
41    NaN
42    NaN
43    NaN
44    NaN
45    NaN
46    NaN
47    NaN
48    NaN
49    NaN
dtype: object

### Criar série a partir de um  valor escalar

Se datafor um valor escalar, um índice deve ser fornecido. O valor será repetido para corresponder ao comprimento do índice .

In [ ]:
import string
index = [x for x in string.ascii_lowercase[0:10]]
valor = 10.5
s = pd.Series(valor, index=index)
print(s)

a    10.5
b    10.5
c    10.5
d    10.5
e    10.5
f    10.5
g    10.5
h    10.5
i    10.5
j    10.5
dtype: float64

In [ ]:
import string
index = list(range(0,10))
valor = 'Alberto'
s = pd.Series(valor, index=index)
print(s)

0    Alberto
1    Alberto
2    Alberto
3    Alberto
4    Alberto
5    Alberto
6    Alberto
7    Alberto
8    Alberto
9    Alberto
dtype: object

### Série é semelhante a um ndarray (Indexação, Fatiamento, Funções)

In [ ]:
s = pd.Series(np.random.randint(70,100, 10))
print(s)
s.index

0    70
1    97
2    75
3    74
4    83
5    79
6    72
7    88
8    85
9    87
dtype: int64

RangeIndex(start=0, stop=10, step=1)

In [ ]:
print(s[0])

70

In [ ]:
print(s[:3])

0    70
1    97
2    75
dtype: int64

In [ ]:
s.median()

81.0

In [ ]:
filtro = s > s.median()
print(filtro)
print(s[filtro])

0    False
1     True
2    False
3    False
4     True
5    False
6    False
7     True
8     True
9     True
dtype: bool
1    97
4    83
7    88
8    85
9    87
dtype: int64

In [ ]:
print(s[s > s.median()])

1    97
4    83
7    88
8    85
9    87
dtype: int64

In [ ]:
print(s)
print(s[[4, 3, 1]])

0    70
1    97
2    75
3    74
4    83
5    79
6    72
7    88
8    85
9    87
dtype: int64
4    83
3    74
1    97
dtype: int64

In [ ]:
print(np.sqrt(s))

In [ ]:
print(np.power(s,2))

In [ ]:
print(s.dtype)

int64

In [ ]:
print(s.array)

<PandasArray>
[70, 97, 75, 74, 83, 79, 72,
 88, 85, 87]
Length: 10, dtype: int64

In [ ]:
s.to_numpy()

array([70, 97, 75, 74, 83, 79, 72, 88, 85, 87])

### Series.array é  um ExtensionArray invólucro fino em torno de um numpy.ndarray.
- Embora Series seja semelhante ao ndarray, se você precisar de um ndarray real , use Series.to_numpy().

In [ ]:
s.to_numpy()

array([70, 97, 75, 74, 83, 79, 72, 88, 85, 87])

### A série é semelhante a um  dicionário de tamanho fixo em que se pode obter e definir valores por rótulo de índice:

In [ ]:
import string
index= [x for x in string.ascii_lowercase[:10]]
data = list(range(0,len(index)))
s = pd.Series(data, index=index)
print(s)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [ ]:
s['a']

0

In [ ]:
s['e'] = 12
s

a     0
b     1
c     2
d     3
e    12
f     5
g     6
h     7
i     8
j     9
dtype: int64

In [ ]:
'e' in s

True

In [ ]:
'm' in s

False

In [ ]:
s['f']

5

In [ ]:
s.get('m')

In [ ]:
s.get('f')

5

In [ ]:
s.get('m', np.nan)

nan

### Operações vetorizadas com Série 
- Ao trabalhar com séries não é necessário fazer um loop de valor por valor.
- A série também pode ser passada para a maioria dos métodos NumPy que esperam um ndarray.

In [ ]:
data = list(range(0,10))
s = pd.Series(data)
print(s)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
s + s

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [ ]:
s * 2

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [ ]:
np.sum(s)

45

In [ ]:
s2 = s.astype(str)
print(s2)
print(s)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: object
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
s + s2.astype(int)

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

### A diferença fundamental entre Series e ndarray é que as operações entre as séries alinham automaticamente os dados com base no rótulo. 
- Se uma chave não for encontrada em ambas, o resultado será marcado como vazio (NaN)
- Isso promove liberdade e flexibilidade na análise de dados interativos é é um dos grandes diferenciais do Pandas.

In [ ]:
vendas = pd.Series([100, 200, 300], index=['Willian','João','Alexandre'])
print(vendas)

Willian      100
João         200
Alexandre    300
dtype: int64

In [ ]:
percentualcomissao = pd.Series([.05, .05, .5], index=['João','Alexandre','Willian'])
print(percentualcomissao)

João         0.05
Alexandre    0.05
Willian      0.50
dtype: float64

In [ ]:
vendas * percentualcomissao

Alexandre    15.0
João         10.0
Willian      50.0
dtype: float64

In [ ]:
import string
index= [x for x in string.ascii_lowercase[:10]]
data = list(range(0,len(index)))
s1 = pd.Series(data, index=index)

index2= [x for x in string.ascii_lowercase[3:10]]
data2 = list(range(0,len(index2)))
s2 = pd.Series(data2, index=index2)

print(s1)
print(s2)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64
d    0
e    1
f    2
g    3
h    4
i    5
j    6
dtype: int64

In [ ]:
s1 + s2

a     NaN
b     NaN
c     NaN
d     3.0
e     5.0
f     7.0
g     9.0
h    11.0
i    13.0
j    15.0
dtype: float64

In [ ]:
s1 * s2

a     NaN
b     NaN
c     NaN
d     0.0
e     4.0
f    10.0
g    18.0
h    28.0
i    40.0
j    54.0
dtype: float64

In [ ]:
s1 - s2

a    NaN
b    NaN
c    NaN
d    3.0
e    3.0
f    3.0
g    3.0
h    3.0
i    3.0
j    3.0
dtype: float64

In [ ]:
s1 ** s2

a         NaN
b         1.0
c         NaN
d         1.0
e         4.0
f        25.0
g       216.0
h      2401.0
i     32768.0
j    531441.0
dtype: float64

## O atributo de nome da Série

In [ ]:
import string
index= [x for x in string.ascii_lowercase[:10]]
data = list(range(0,len(index)))
s1 = pd.Series(data, index=index, name='Minha Serie')
s1.name

'Minha Serie'

In [ ]:
s2 = s.rename("Minha nova série")
s2.name

'Minha nova série'

## DataFrame 
- DataFrame é uma estrutura de dados rotulada bidimensional com colunas de tipos potencialmente diferentes. 
- Objeto pandas é o mais comumente usado.
- Aceita muitos tipos diferentes de entrada na sua criação: Dict de 1D ndarrays, listas, dicts ou Series, 2-D numpy.ndarray, Outro DataFrame.
- Opcionalmente pode receber como argumentos de índice (rótulos de linha) e colunas (rótulos de coluna). 
- Se não passar rótulos serão gerados automaticamente.


### Criando dataframe a partir de dict de Série ou dicts 
- O índice resultante será a união dos índices das várias Séries.
- Se houver dicts aninhados, eles serão primeiro convertidos em Series. 
- Se nenhuma coluna for passada, as colunas serão a lista ordenada de chaves de dicionário.

In [ ]:
d = {'col1': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
    'col2': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
print(d)
df = pd.DataFrame(d)
print (df.index )
print (df.columns)
df

{'col1': a    1.0
b    2.0
c    3.0
dtype: float64, 'col2': a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64}
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['col1', 'col2'], dtype='object')

   col1  col2
a   1.0   1.0
b   2.0   2.0
c   3.0   3.0
d   NaN   4.0

In [ ]:
d = {'col1': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
    'col2': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
print(d)
df = pd.DataFrame(d, index=['d', 'b', 'a'])
print (df.index )
print (df.columns)
df

{'col1': a    1.0
b    2.0
c    3.0
dtype: float64, 'col2': a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64}
Index(['d', 'b', 'a'], dtype='object')
Index(['col1', 'col2'], dtype='object')

   col1  col2
d   NaN   4.0
b   2.0   2.0
a   1.0   1.0

In [ ]:
d = {'col1': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
    'col2': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
print(d)
df = pd.DataFrame(d, index=['d', 'b', 'a'], columns=['col1', 'col2'])
print (df.index )
print (df.columns)
df

{'col1': a    1.0
b    2.0
c    3.0
dtype: float64, 'col2': a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64}
Index(['d', 'b', 'a'], dtype='object')
Index(['col1', 'col2'], dtype='object')

   col1  col2
d   NaN   4.0
b   2.0   2.0
a   1.0   1.0

In [ ]:

d = {'col1': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
    'col2': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
print(d)
df = pd.DataFrame(d, index=['d', 'b', 'a', 'm'], columns=['col1', 'col3'])
print (df.index )
print (df.columns)
df

{'col1': a    1.0
b    2.0
c    3.0
dtype: float64, 'col2': a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64}
Index(['d', 'b', 'a', 'm'], dtype='object')
Index(['col1', 'col3'], dtype='object')

   col1 col3
d   NaN  NaN
b   2.0  NaN
a   1.0  NaN
m   NaN  NaN

In [ ]:
dados = {'percentualcomissao' : pd.Series([.05, .05, .5], index=['João','Alexandre','Willian']),
          'vendas' : pd.Series([100, 200, 300], index=['Willian','João','Alexandre']) }

In [ ]:
dfcomissoes = pd.DataFrame(dados)
dfcomissoes

           percentualcomissao  vendas
Alexandre                0.05     300
João                     0.05     200
Willian                  0.50     100

In [ ]:
dfcomissoes['Comissao'] = dfcomissoes['percentualcomissao']  * dfcomissoes['vendas']
dfcomissoes

           percentualcomissao  vendas  Comissao
Alexandre                0.05     300      15.0
João                     0.05     200      10.0
Willian                  0.50     100      50.0

### Criando dataframe a partir de dict de ndarrays / listas 
- Os ndarrays / listas devem ter todos o mesmo comprimento. 
- Se um índice for passado, ele deve ter o mesmo comprimento dos arrays. 
- Se nenhum índice for passado, o resultado será range(n), onde né o comprimento do array.

In [ ]:
d = {'col1': [1., 2., 3., 4.],
'col2': [4., 3., 2., 1.]}

df = pd.DataFrame(d)

print (df.index )
print (df.columns)
df

RangeIndex(start=0, stop=4, step=1)
Index(['col1', 'col2'], dtype='object')

   col1  col2
0   1.0   4.0
1   2.0   3.0
2   3.0   2.0
3   4.0   1.0

In [ ]:
d = {'col1': [1., 2., 3., 4.],
'col2': [4., 3., 2., 1.]}

df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

print (df.index )
print (df.columns)
df

Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['col1', 'col2'], dtype='object')

   col1  col2
a   1.0   4.0
b   2.0   3.0
c   3.0   2.0
d   4.0   1.0

### Criando dataframe a partir de matriz estruturada ou de registro 
- Similar ao procedimento com dicionário de matrizes.
- O DataFrame tem simnilaridades, mas não foi projetado para funcionar exatamente como um ndarray NumPy bidimensional

In [ ]:
data = np.zeros((2, ), dtype=[('col1', 'i4'), ('col2', 'f4'), ('col3', 'U10')])
data[:] = [(1, 2., 'João'), (2, 3., "Sebastião")]
data

array([(1, 2., 'João'), (2, 3., 'Sebastião')],
      dtype=[('col1', '<i4'), ('col2', '<f4'), ('col3', '<U10')])

In [ ]:
df = pd.DataFrame(data)

print (df.index )
print (df.columns)
df

RangeIndex(start=0, stop=2, step=1)
Index(['col1', 'col2',
       'col3'],
      dtype='object')

   col1  col2       col3
0     1   2.0       João
1     2   3.0  Sebastião

In [ ]:
df = pd.DataFrame(data, index=['a', 'b'])
print (df.index )
print (df.columns)
df

Index(['a', 'b'], dtype='object')
Index(['col1', 'col2',
       'col3'],
      dtype='object')

   col1  col2       col3
a     1   2.0       João
b     2   3.0  Sebastião

In [ ]:
df = pd.DataFrame(data, columns=['col1' , 'col2', 'col3'])
print (df.index )
print (df.columns)
df

RangeIndex(start=0, stop=2, step=1)
Index(['col1', 'col2',
       'col3'],
      dtype='object')

   col1  col2       col3
0     1   2.0       João
1     2   3.0  Sebastião

In [ ]:
df = pd.DataFrame(data, columns=['col1' , 'col2', 'col4'])
print (df.index )
print (df.columns)
df

RangeIndex(start=0, stop=2, step=1)
Index(['col1', 'col2',
       'col4'],
      dtype='object')

   col1  col2 col4
0     1   2.0  NaN
1     2   3.0  NaN

### Criando dataframe a partir de uma lista de dicts

In [ ]:
data2 = [{'col1': 1, 'col2': 2}, 
         {'col1': 5, 'col2': 10, 'col3': 20}]
df = pd.DataFrame(data2)
print (df.index )
print (df.columns)
df

RangeIndex(start=0, stop=2, step=1)
Index(['col1', 'col2',
       'col3'],
      dtype='object')

   col1  col2  col3
0     1     2   NaN
1     5    10  20.0

In [ ]:
data2 = [{'col1': 1, 'col2': 2}, 
         {'col1': 5, 'col2': 10, 'col3': 20}]
df = pd.DataFrame(data2, index=[3, 4])
print (df.index )
print (df.columns)
df

Int64Index([3, 4], dtype='int64')
Index(['col1', 'col2',
       'col3'],
      dtype='object')

   col1  col2  col3
3     1     2   NaN
4     5    10  20.0

In [ ]:
data2 = [{'col1': 1, 'col2': 2}, 
         {'col1': 5, 'col2': 10, 'col3': 20}]
df = pd.DataFrame(data2, columns=['col1' , 'col2', 'col4'])
print (df.index )
print (df.columns)
df

RangeIndex(start=0, stop=2, step=1)
Index(['col1', 'col2',
       'col4'],
      dtype='object')

   col1  col2  col4
0     1     2   NaN
1     5    10   NaN

In [ ]:
estadoslista = [{"id":11,"sigla":"RO","nome":"Rondônia","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":12,"sigla":"AC","nome":"Acre","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":13,"sigla":"AM","nome":"Amazonas","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":14,"sigla":"RR","nome":"Roraima","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":15,"sigla":"PA","nome":"Pará","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":16,"sigla":"AP","nome":"Amapá","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":17,"sigla":"TO","nome":"Tocantins","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":21,"sigla":"MA","nome":"Maranhão","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":22,"sigla":"PI","nome":"Piauí","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":23,"sigla":"CE","nome":"Ceará","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":24,"sigla":"RN","nome":"Rio Grande do Norte","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":25,"sigla":"PB","nome":"Paraíba","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":26,"sigla":"PE","nome":"Pernambuco","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":27,"sigla":"AL","nome":"Alagoas","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":28,"sigla":"SE","nome":"Sergipe","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":29,"sigla":"BA","nome":"Bahia","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":31,"sigla":"MG","nome":"Minas Gerais","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}},{"id":32,"sigla":"ES","nome":"Espírito Santo","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}},{"id":33,"sigla":"RJ","nome":"Rio de Janeiro","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}},{"id":35,"sigla":"SP","nome":"São Paulo","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}},{"id":41,"sigla":"PR","nome":"Paraná","regiao":{"id":4,"sigla":"S","nome":"Sul"}},{"id":42,"sigla":"SC","nome":"Santa Catarina","regiao":{"id":4,"sigla":"S","nome":"Sul"}},{"id":43,"sigla":"RS","nome":"Rio Grande do Sul","regiao":{"id":4,"sigla":"S","nome":"Sul"}},{"id":50,"sigla":"MS","nome":"Mato Grosso do Sul","regiao":{"id":5,"sigla":"CO","nome":"Centro-Oeste"}},{"id":51,"sigla":"MT","nome":"Mato Grosso","regiao":{"id":5,"sigla":"CO","nome":"Centro-Oeste"}},{"id":52,"sigla":"GO","nome":"Goiás","regiao":{"id":5,"sigla":"CO","nome":"Centro-Oeste"}},{"id":53,"sigla":"DF","nome":"Distrito Federal","regiao":{"id":5,"sigla":"CO","nome":"Centro-Oeste"}}]

In [ ]:
dfestados = pd.DataFrame(estadoslista)
dfestados

    id sigla                 nome               regiao
0   11    RO             Rondônia  {'id': 1, 'sigla...
1   12    AC                 Acre  {'id': 1, 'sigla...
2   13    AM             Amazonas  {'id': 1, 'sigla...
3   14    RR              Roraima  {'id': 1, 'sigla...
4   15    PA                 Pará  {'id': 1, 'sigla...
5   16    AP                Amapá  {'id': 1, 'sigla...
6   17    TO            Tocantins  {'id': 1, 'sigla...
7   21    MA             Maranhão  {'id': 2, 'sigla...
8   22    PI                Piauí  {'id': 2, 'sigla...
9   23    CE                Ceará  {'id': 2, 'sigla...
10  24    RN  Rio Grande do Norte  {'id': 2, 'sigla...
11  25    PB              Paraíba  {'id': 2, 'sigla...
12  26    PE           Pernambuco  {'id': 2, 'sigla...
13  27    AL              Alagoas  {'id': 2, 'sigla...
14  28    SE              Sergipe  {'id': 2, 'sigla...
15  29    BA                Bahia  {'id': 2, 'sigla...
16  31    MG         Minas Gerais  {'id': 3, 'sigla...
17  32    ES       Espírito Santo  {'id': 3, 'sigla...
18  33    RJ       Rio de Janeiro  {'id': 3, 'sigla...
19  35    SP            São Paulo  {'id': 3, 'sigla...
20  41    PR               Paraná  {'id': 4, 'sigla...
21  42    SC       Santa Catarina  {'id': 4, 'sigla...
22  43    RS    Rio Grande do Sul  {'id': 4, 'sigla...
23  50    MS   Mato Grosso do Sul  {'id': 5, 'sigla...
24  51    MT          Mato Grosso  {'id': 5, 'sigla...
25  52    GO                Goiás  {'id': 5, 'sigla...
26  53    DF     Distrito Federal  {'id': 5, 'sigla...

In [ ]:
dfestados = pd.DataFrame(estadoslista, columns=['sigla', 'nome'])
dfestados

   sigla                 nome
0     RO             Rondônia
1     AC                 Acre
2     AM             Amazonas
3     RR              Roraima
4     PA                 Pará
5     AP                Amapá
6     TO            Tocantins
7     MA             Maranhão
8     PI                Piauí
9     CE                Ceará
10    RN  Rio Grande do Norte
11    PB              Paraíba
12    PE           Pernambuco
13    AL              Alagoas
14    SE              Sergipe
15    BA                Bahia
16    MG         Minas Gerais
17    ES       Espírito Santo
18    RJ       Rio de Janeiro
19    SP            São Paulo
20    PR               Paraná
21    SC       Santa Catarina
22    RS    Rio Grande do Sul
23    MS   Mato Grosso do Sul
24    MT          Mato Grosso
25    GO                Goiás
26    DF     Distrito Federal

### Criando dataframe a partir de um dicionário de tuplas 
Pode-se criar automaticamente um dataframe Multindexado passando um dicionário de tuplas.

In [ ]:
import pandas as pd
df = pd.DataFrame({
        ('1BIM', 'JAN'): {
                    ('SE', 'São Paulo'): 45645, 
                    ('SE', 'Rio de Janeiro'): 4564, 
                    ('CO', 'Goiás'): 4564, 
                    ('CO', 'Mato Grosso'): 4564,        
                    },
        ('1BIM', 'FEV'): {
                    ('SE', 'São Paulo'): 45645, 
                    ('SE', 'Rio de Janeiro'): 4564, 
                    ('CO', 'Goiás'): 456456, 
                    ('CO', 'Mato Grosso'): 45645,       
                    },
        ('2BIM', 'MAR'): {
                    ('SE', 'São Paulo'): 4564, 
                    ('SE', 'Rio de Janeiro'): 456, 
                    ('CO', 'Goiás'): 45645, 
                    ('CO', 'Mato Grosso'): 3345,       
                    },
        ('2BIM', 'ABR'): {
                    ('SE', 'São Paulo'): 123132, 
                    ('SE', 'Rio de Janeiro'): 123123, 
                    ('CO', 'Goiás'): 12312, 
                    ('CO', 'Mato Grosso'): 1123,       
                    },
        })
print (df.index )
print (df.columns)
df

MultiIndex([('SE', ...),
            ('SE', ...),
            ('CO', ...),
            ('CO', ...)],
           )
MultiIndex([('1BIM', 'JAN'),
            ('1BIM', 'FEV'),
            ('2BIM', 'MAR'),
            ('2BIM', 'ABR')],
           )

                    1BIM           2BIM
                     JAN     FEV    MAR     ABR
SE São Paulo       45645   45645   4564  123132
   Rio de Janeiro   4564    4564    456  123123
CO Goiás            4564  456456  45645   12312
   Mato Grosso      4564   45645   3345    1123

In [ ]:
df['1BIM']

                     JAN     FEV
SE São Paulo       45645   45645
   Rio de Janeiro   4564    4564
CO Goiás            4564  456456
   Mato Grosso      4564   45645

In [ ]:
df['1BIM']['JAN']

SE  São Paulo         45645
    Rio de Janeiro     4564
CO  Goiás              4564
    Mato Grosso        4564
Name: JAN, dtype: int64

In [ ]:
df['1BIM']['JAN']['SE']

São Paulo         45645
Rio de Janeiro     4564
Name: JAN, dtype: int64

In [ ]:
df['1BIM']['JAN']['SE']['São Paulo']

45645

### Criando Dataframe a partir uma série
- O resultado será um DataFrame com o mesmo índice da série de entrada e com uma coluna cujo nome é o nome original da série (somente se nenhum outro nome de coluna for fornecido).

In [ ]:
import string
data = [x for x in string.ascii_lowercase]
index = list(range(0,len(data)))

dict1 =  { x : y for x, y in zip(index,data)}
print(dict1)

s = pd.Series(dict1)


s.name = 'coluna 01'
print(s)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e', 5: 'f', 6: 'g', 7: 'h', 8: 'i', 9: 'j', 10: 'k', 11: 'l', 12: 'm', 13: 'n', 14: 'o', 15: 'p', 16: 'q', 17: 'r', 18: 's', 19: 't', 20: 'u', 21: 'v', 22: 'w', 23: 'x', 24: 'y', 25: 'z'}
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: coluna 01, dtype: object

In [ ]:
import pandas as pd
df = pd.DataFrame(s)

print (df.index )
print (df.columns)
df

Int64Index([ 0,  1,  2,  3,
             4,  5,  6,  7,
             8,  9, 10, 11,
            12, 13, 14, 15,
            16, 17, 18, 19,
            20, 21, 22, 23,
            24, 25],
           dtype='int64')
Index(['coluna 01'], dtype='object')

   coluna 01
0          a
1          b
2          c
3          d
4          e
5          f
6          g
7          h
8          i
9          j
10         k
11         l
12         m
13         n
14         o
15         p
16         q
17         r
18         s
19         t
20         u
21         v
22         w
23         x
24         y
25         z

## Criando a partir de dicionários usando DataFrame.from_dict

DataFrame.from_dict utiliza um dict de dicts ou um dict de sequências do tipo array e retorna um DataFrame.

In [ ]:
df =  pd.DataFrame.from_dict(dict([('A', [1, 2, 3]), ('B', [4, 5, 6])]))
df

   A  B
0  1  4
1  2  5
2  3  6

Se você passar orient='index', as chaves serão os rótulos das linhas. Nesse caso, você também pode passar os nomes das colunas desejadas:

In [ ]:
df = pd.DataFrame.from_dict(dict([('A', [1, 2, 3]), ('B', [4, 5, 6])]),
                    orient='index', columns=['primeiro', 'segundo', 'terceiro'])
df

   primeiro  segundo  terceiro
A         1        2         3
B         4        5         6

In [ ]:
df['quatro'] = df['primeiro'] * df['segundo']

In [ ]:
df['flag'] = df['primeiro'] > 2

In [ ]:
df

   primeiro  segundo  terceiro  quatro   flag
A         1        2         3       2  False
B         4        5         6      20   True

As colunas podem ser excluídas ou pop-pop como com um dicionario:

In [ ]:
del df['segundo']
df

   primeiro  terceiro  quatro   flag
A         1         3       2  False
B         4         6      20   True

In [ ]:
col1 = df.pop('primeiro')
df

   terceiro  quatro   flag
A         3       2  False
B         6      20   True

In [ ]:
col1

A    1
B    4
Name: primeiro, dtype: int64

Ao inserir um valor escalar, ele será naturalmente propagado para preencher a coluna:

In [ ]:
df['quatro'] = 4
df

   terceiro  quatro   flag
A         3       4  False
B         6       4   True

Ao inserir uma Série que não possui o mesmo índice do DataFrame, ela será conformada ao índice do DataFrame:

In [ ]:
df['terceiro']['B']

6

In [ ]:
df['quinta'] = pd.Series([3,4] ,index=['B','C'])
df

   terceiro  quatro   flag  quinta
A        10       4  False     NaN
B         6       4   True     3.0

Você pode inserir ndarrays brutos, mas seu comprimento deve corresponder ao comprimento do índice do DataFrame.

In [ ]:
import numpy as np
df['arr'] = np.array([5,6])
df

   terceiro  quatro   flag  quinta  arr
A        10       4  False     NaN    5
B         6       4   True     3.0    6

In [ ]:
df.at['A', 'quatro'] = 8
df

In [ ]:
df.at['A', 'quatro'] = 8
df

   terceiro  copia1  quatro   flag  quinta  arr
A        10      10       8  False     NaN    5
B         6       6       4   True     3.0    6

Por padrão, as colunas são inseridas no final. A insertfunção está disponível para inserir em um local específico nas colunas:

In [ ]:
df.insert(1, 'copia1', df['terceiro'])
df

   terceiro  copia1  quatro   flag  quinta  arr
A        10      10       4  False     NaN    5
B         6       6       4   True     3.0    6

Atribuindo novas colunas em cadeias de métodos 
Inspirado no mutate verbo de dplyr, DataFrame tem um método assign()  que permite criar facilmente novas colunas que são potencialmente derivadas de colunas existentes.

In [ ]:
estados = pd.read_csv('totaisestados_arr.csv', sep=';',names =['UF','CASOS','OBITOS'])
estados.head()

   UF   CASOS  OBITOS
0  DF  221526    3845
1  GO  269857    6107
2  MS   89654    1699
3  MT  152968    4009
4  AL   92951    2304

In [ ]:
estados['taxaletalidade'] = estados['OBITOS'] / estados['CASOS']  * 100
estados

    UF    CASOS  OBITOS  taxaletalidade
0   DF   221526    3845        1.735688
1   GO   269857    6107        2.263050
2   MS    89654    1699        1.895063
3   MT   152968    4009        2.620810
4   AL    92951    2304        2.478725
5   BA   377445    8013        2.122958
6   CE   288122    9461        3.283678
7   MA   190321    4203        2.208374
8   PB   140355    3223        2.296320
9   PE   172716    8873        5.137335
10  PI   120913    2554        2.112263
11  RN    84381    2649        3.139332
12  SE    86361    2266        2.623870
13  AC    33725     709        2.102298
14  AM   171161    4728        2.762312
15  AP    55652     783        1.406958
16  PA   263155    6844        2.600749
17  RO    76019    1511        1.987661
18  RR    61001     709        1.162276
19  TO    78618    1144        1.455138
20  ES   174144    4058        2.330255
21  MG   387751    9605        2.477105
22  RJ   332396   21698        6.527756
23  SP  1184496   40927        3.455225
24  PR   246169    5793        2.353261
25  RS   287204    6356        2.213061
26  SC   306788    3384        1.103042

In [ ]:
estados = estados.assign(taxaletalidade= estados['OBITOS'] / estados['CASOS']*100)
estados.head()

   UF   CASOS  OBITOS  taxaletalidade
0  DF  221526    3845        1.735688
1  GO  269857    6107        2.263050
2  MS   89654    1699        1.895063
3  MT  152968    4009        2.620810
4  AL   92951    2304        2.478725

No exemplo acima, inserimos um valor pré-calculado. Também podemos passar uma função de um argumento a ser avaliado no DataFrame que está sendo atribuído.

In [ ]:
estados =  estados.assign(
    taxaletalidade=lambda x: (x['OBITOS'] / x['CASOS']*100),
    obtitosmil = lambda x : x['OBITOS']/1000,
    casosmil =  lambda x : x['CASOS']/1000,
    )

estados.head()

   UF   CASOS  OBITOS  taxaletalidade  obtitosmil  casosmil
0  DF  221526    3845        1.735688       3.845   221.526
1  GO  269857    6107        2.263050       6.107   269.857
2  MS   89654    1699        1.895063       1.699    89.654
3  MT  152968    4009        2.620810       4.009   152.968
4  AL   92951    2304        2.478725       2.304    92.951

## Indexação / seleção 
Os princípios básicos da indexação são os seguintes:

- Selecione a coluna: df[col]
- Selecione linha por etiqueta: df.loc[label]
- Selecione linha por localização de inteiro: df.iloc[loc]
- Fatia de linhas: df[5:10]
- Selecione as linhas por vetor booleano: df[bool_vec]

In [ ]:
df = pd.read_csv('totaisestados_arr.csv', sep=';',names =['UF','CASOS','OBITOS'])
df.head()

   UF   CASOS  OBITOS
0  DF  221526    3845
1  GO  269857    6107
2  MS   89654    1699
3  MT  152968    4009
4  AL   92951    2304

## seleção de linha

In [ ]:
df.loc[1]

UF            GO
CASOS     269857
OBITOS      6107
Name: 1, dtype: object

In [ ]:
df.iloc[2]

UF           MS
CASOS     89654
OBITOS     1699
Name: 2, dtype: object

In [ ]:
df[5:9]

   UF   CASOS  OBITOS
5  BA  377445    8013
6  CE  288122    9461
7  MA  190321    4203
8  PB  140355    3223

In [ ]:
filtro  = df['CASOS'] > 200000
filtro
df[filtro]

    UF    CASOS  OBITOS
0   DF   221526    3845
1   GO   269857    6107
5   BA   377445    8013
6   CE   288122    9461
16  PA   263155    6844
21  MG   387751    9605
22  RJ   332396   21698
23  SP  1184496   40927
24  PR   246169    5793
25  RS   287204    6356
26  SC   306788    3384

In [ ]:
df[ df['CASOS'] > 200000]

    UF    CASOS  OBITOS
0   DF   221526    3845
1   GO   269857    6107
5   BA   377445    8013
6   CE   288122    9461
16  PA   263155    6844
21  MG   387751    9605
22  RJ   332396   21698
23  SP  1184496   40927
24  PR   246169    5793
25  RS   287204    6356
26  SC   306788    3384

In [ ]:
df['CASOS'][df['CASOS'] > 300000]

5      377445
21     387751
22     332396
23    1184496
26     306788
Name: CASOS, dtype: int64

In [ ]:
df[ df['CASOS'] > 200000] ['CASOS']

0      221526
1      269857
5      377445
6      288122
16     263155
21     387751
22     332396
23    1184496
24     246169
25     287204
26     306788
Name: CASOS, dtype: int64

In [ ]:
df.columns

Index(['UF', 'CASOS', 'OBITOS'], dtype='object')

In [ ]:
df2 =  df[['UF', 'OBITOS', 'CASOS']]
df2

    UF  OBITOS    CASOS
0   DF    3845   221526
1   GO    6107   269857
2   MS    1699    89654
3   MT    4009   152968
4   AL    2304    92951
5   BA    8013   377445
6   CE    9461   288122
7   MA    4203   190321
8   PB    3223   140355
9   PE    8873   172716
10  PI    2554   120913
11  RN    2649    84381
12  SE    2266    86361
13  AC     709    33725
14  AM    4728   171161
15  AP     783    55652
16  PA    6844   263155
17  RO    1511    76019
18  RR     709    61001
19  TO    1144    78618
20  ES    4058   174144
21  MG    9605   387751
22  RJ   21698   332396
23  SP   40927  1184496
24  PR    5793   246169
25  RS    6356   287204
26  SC    3384   306788

In [ ]:
df3 = df.sort_values(by='CASOS', ascending=False)
df3.reset_index(inplace=True, drop=True)

In [ ]:
df3

    UF    CASOS  OBITOS
0   SP  1184496   40927
1   MG   387751    9605
2   BA   377445    8013
3   RJ   332396   21698
4   SC   306788    3384
5   CE   288122    9461
6   RS   287204    6356
7   GO   269857    6107
8   PA   263155    6844
9   PR   246169    5793
10  DF   221526    3845
11  MA   190321    4203
12  ES   174144    4058
13  PE   172716    8873
14  AM   171161    4728
15  MT   152968    4009
16  PB   140355    3223
17  PI   120913    2554
18  AL    92951    2304
19  MS    89654    1699
20  SE    86361    2266
21  RN    84381    2649
22  TO    78618    1144
23  RO    76019    1511
24  RR    61001     709
25  AP    55652     783
26  AC    33725     709

## Alinhamento de dados e aritmética 
O alinhamento de dados entre objetos DataFrame é alinhado automaticamente nas colunas e no índice (rótulos de linha) . Novamente, o objeto resultante terá a união dos rótulos de coluna e linha.

In [ ]:
dados = {'percentualcomissao' : pd.Series([.05, .05, .5], index=['João','Alexandre','Willian']),
          'vendas' : pd.Series([100, 200, 300], index=['Willian','João','Alexandre']) }
dfcomissoes_janeiro = pd.DataFrame(dados)
dfcomissoes_janeiro

           percentualcomissao  vendas
Alexandre                0.05     300
João                     0.05     200
Willian                  0.50     100

In [ ]:
dados = {'percentualcomissao' : pd.Series([.05, .05, .5], index=['João','Alexandre','Willian']),
          'vendas' : pd.Series([300, 400, 100], index=['Willian','João','Alexandre']) }
dfcomissoes_fevereiro = pd.DataFrame(dados)
dfcomissoes_fevereiro

           percentualcomissao  vendas
Alexandre                0.05     100
João                     0.05     400
Willian                  0.50     300

In [ ]:
dfcomissoes_fevereiro + dfcomissoes_janeiro

           percentualcomissao  vendas
Alexandre                 0.1     400
João                      0.1     600
Willian                   1.0     400

In [ ]:
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])

df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])

df + df2

          A         B         C   D
0  0.368771  0.474327  2.092394 NaN
1  0.318402 -0.761955 -0.283829 NaN
2  1.265431  0.632527 -1.116881 NaN
3 -1.462294  1.160344 -1.810941 NaN
4  1.507142 -1.799388 -0.018257 NaN
5 -1.115003 -0.057731 -0.872458 NaN
6 -1.223292  1.553935  4.227538 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

Ao fazer uma operação entre DataFrame e Series, o comportamento padrão é alinhar o índice Series nas colunas DataFrame , transmitindo assim por linha.

In [ ]:
df = pd.read_csv('totaisestados_arr.csv', sep=';',names =['UF','CASOS','OBITOS'])
df = df[['CASOS','OBITOS'] ]
df.head()

    CASOS  OBITOS
0  221526    3845
1  269857    6107
2   89654    1699
3  152968    4009
4   92951    2304

In [ ]:
media = df.mean()

In [ ]:
df.iloc[0]

CASOS     221526
OBITOS      3845
Name: 0, dtype: int64

In [ ]:
(df - media).head()

          CASOS       OBITOS
0    1309.37037 -2357.037037
1   49640.37037   -95.037037
2 -130562.62963 -4503.037037
3  -67248.62963 -2193.037037
4 -127265.62963 -3898.037037

In [ ]:
df.sub(df['CASOS'], axis=0)

    CASOS   OBITOS
0       0  -217681
1       0  -263750
2       0   -87955
3       0  -148959
4       0   -90647
5       0  -369432
6       0  -278661
7       0  -186118
8       0  -137132
9       0  -163843
10      0  -118359
11      0   -81732
12      0   -84095
13      0   -33016
14      0  -166433
15      0   -54869
16      0  -256311
17      0   -74508
18      0   -60292
19      0   -77474
20      0  -170086
21      0  -378146
22      0  -310698
23      0 -1143569
24      0  -240376
25      0  -280848
26      0  -303404

## operações com escalares

In [ ]:
(df / 1000).head()

     CASOS  OBITOS
0  221.526   3.845
1  269.857   6.107
2   89.654   1.699
3  152.968   4.009
4   92.951   2.304

In [ ]:
(df ** 2).head()

         CASOS    OBITOS
0  49073768676  14784025
1  72822800449  37295449
2   8037839716   2886601
3  23399209024  16072081
4   8639888401   5308416

Os operadores booleanos também funcionam:

In [ ]:
df1 = pd.DataFrame({'a': [1, 0, 1], 'b': [0, 1, 1]}, dtype=bool)
df1.head()

       a      b
0   True  False
1  False   True
2   True   True

In [ ]:
df2 = pd.DataFrame({'a': [0, 1, 1], 'b': [1, 1, 0]}, dtype=bool)
df2.head()

       a      b
0  False   True
1   True   True
2   True  False

In [ ]:
df1 & df2

       a      b
0  False  False
1  False   True
2   True  False

In [ ]:
df1 | df2

      a     b
0  True  True
1  True  True
2  True  True

In [ ]:
df1

       a      b
0   True  False
1  False   True
2   True   True

In [ ]:
-df1

       a      b
0  False   True
1   True  False
2  False  False

## Transpondo  o Dataframe
Para transpor, acesse o atributo T ou a função transpose

In [ ]:
df = pd.read_csv('totaisestados_arr.csv', sep=';',names =['UF','CASOS','OBITOS'])
df.head()

   UF   CASOS  OBITOS
0  DF  221526    3845
1  GO  269857    6107
2  MS   89654    1699
3  MT  152968    4009
4  AL   92951    2304

In [ ]:
df.T

            0       1      2       3   ...       23      24      25      26
UF          DF      GO     MS      MT  ...       SP      PR      RS      SC
CASOS   221526  269857  89654  152968  ...  1184496  246169  287204  306788
OBITOS    3845    6107   1699    4009  ...    40927    5793    6356    3384

[3 rows x 27 columns]

In [ ]:
df.index =  df['UF']
df =  df[['CASOS', 'OBITOS']]
df.T

UF          DF      GO     MS      MT  ...       SP      PR      RS      SC
CASOS   221526  269857  89654  152968  ...  1184496  246169  287204  306788
OBITOS    3845    6107   1699    4009  ...    40927    5793    6356    3384

[2 rows x 27 columns]

In [ ]:
df.T.T

      CASOS  OBITOS
UF
DF   221526    3845
GO   269857    6107
MS    89654    1699
MT   152968    4009
AL    92951    2304
BA   377445    8013
CE   288122    9461
MA   190321    4203
PB   140355    3223
PE   172716    8873
PI   120913    2554
RN    84381    2649
SE    86361    2266
AC    33725     709
AM   171161    4728
AP    55652     783
PA   263155    6844
RO    76019    1511
RR    61001     709
TO    78618    1144
ES   174144    4058
MG   387751    9605
RJ   332396   21698
SP  1184496   40927
PR   246169    5793
RS   287204    6356
SC   306788    3384

## Interoperabilidade de DataFrame com funções NumPy 
Ufuncs NumPy (log, exp, sqrt, ...) e várias outras funções NumPy podem ser usados sem problemas em Series e DataFrame, assumindo que os dados são numéricos

In [ ]:
df[:]

      CASOS  OBITOS
UF
DF   221526    3845
GO   269857    6107
MS    89654    1699
MT   152968    4009
AL    92951    2304
BA   377445    8013
CE   288122    9461
MA   190321    4203
PB   140355    3223
PE   172716    8873
PI   120913    2554
RN    84381    2649
SE    86361    2266
AC    33725     709
AM   171161    4728
AP    55652     783
PA   263155    6844
RO    76019    1511
RR    61001     709
TO    78618    1144
ES   174144    4058
MG   387751    9605
RJ   332396   21698
SP  1184496   40927
PR   246169    5793
RS   287204    6356
SC   306788    3384

In [ ]:
np.sum(df[['CASOS','OBITOS']])

CASOS     5945849
OBITOS     167455
dtype: int64

In [ ]:
np.cumsum(df[['CASOS','OBITOS']]).tail()

      CASOS  OBITOS
UF
RJ  3921192  110995
SP  5105688  151922
PR  5351857  157715
RS  5639061  164071
SC  5945849  167455

In [ ]:
np.asarray(df)

array([[ 221526,    3845],
       [ 269857,    6107],
       [  89654,    1699],
       [ 152968,    4009],
       [  92951,    2304],
       [ 377445,    8013],
       [ 288122,    9461],
       [ 190321,    4203],
       [ 140355,    3223],
       [ 172716,    8873],
       [ 120913,    2554],
       [  84381,    2649],
       [  86361,    2266],
       [  33725,     709],
       [ 171161,    4728],
       [  55652,     783],
       [ 263155,    6844],
       [  76019,    1511],
       [  61001,     709],
       [  78618,    1144],
       [ 174144,    4058],
       [ 387751,    9605],
       [ 332396,   21698],
       [1184496,   40927],
       [ 246169,    5793],
       [ 287204,    6356],
       [ 306788,    3384]])

Em alguns casos o pandas irá alinhar automaticamente as entradas rotuladas como parte de um ufunc com várias entradas.

In [ ]:
ser1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
ser2 = pd.Series([1, 3, 5], index=['b', 'a', 'c'])
np.remainder(ser1, ser2)

a    1
b    0
c    3
dtype: int64

In [ ]:
ser3 = pd.Series([2, 4, 6], index=['b', 'c', 'd'])
np.remainder(ser1, ser3)

a    NaN
b    0.0
c    3.0
d    NaN
dtype: float64

## Lidando com DataFraes muito grandes 
DataFrames muito grandes serão truncados para exibi-los no console. 
Pode obter um resumo usando info().

In [ ]:
df = pd.read_csv('totaisregioes_arr.csv', sep=';',names =['UF','CASOS','OBITOS'])
df

             UF    CASOS  OBITOS
0  Centro-Oeste   734005   15660
1      Nordeste  1553565   43546
2         Norte   739331   16428
3       Sudeste  2078787   76288
4           Sul   840161   15533

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UF      5 non-null      object
 1   CASOS   5 non-null      int64
 2   OBITOS  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

## usando  to_string 
- retornará uma representação de string do DataFrame em formato tabular

In [ ]:
print(df.T.to_string())

                   0         1       2        3       4
UF      Centro-Oeste  Nordeste   Norte  Sudeste     Sul
CASOS         734005   1553565  739331  2078787  840161
OBITOS         15660     43546   16428    76288   15533

### Alterar o quanto imprimir em uma única linha, definindo a display.width opção:

In [ ]:
pd.set_option('display.width', 4)

In [ ]:
print(df.T.to_string())

                   0         1       2        3       4
UF      Centro-Oeste  Nordeste   Norte  Sudeste     Sul
CASOS         734005   1553565  739331  2078787  840161
OBITOS         15660     43546   16428    76288   15533

In [ ]:
pd.set_option('display.max_colwidth', 20)

In [ ]:

print(df.T.to_string())

                   0         1       2        3       4
UF      Centro-Oeste  Nordeste   Norte  Sudeste     Sul
CASOS         734005   1553565  739331  2078787  840161
OBITOS         15660     43546   16428    76288   15533

## Funcionalidades básicas

#### Cabeça e cauda

In [ ]:
df = pd.read_csv('totaisregioes_arr.csv', sep=';',names =['UF','CASOS','OBITOS'])

In [ ]:
df.head(2)

             UF    CASOS  OBITOS
0  Centro-Oeste   734005   15660
1      Nordeste  1553565   43546

In [ ]:
df.tail(3)

        UF    CASOS  OBITOS
2    Norte   739331   16428
3  Sudeste  2078787   76288
4      Sul   840161   15533

In [ ]:
df[2:4]

        UF    CASOS  OBITOS
2    Norte   739331   16428
3  Sudeste  2078787   76288

### Nome de colunas

In [ ]:
df.columns

Index(['UF',
       'CASOS',
       'OBITOS'],
      dtype='object')

In [ ]:
df.columns = [x.lower() for x in df.columns]
df.columns

Index(['uf',
       'casos',
       'obitos'],
      dtype='object')

In [ ]:
df

             uf    casos  obitos
0  Centro-Oeste   734005   15660
1      Nordeste  1553565   43546
2         Norte   739331   16428
3       Sudeste  2078787   76288
4           Sul   840161   15533

In [ ]:
df.columns =  ['ESTADO',  'QUANTIDADE DE CASOS', 'QUANTIDADE DE OBITOS']
df

         ESTADO  QUANTIDADE DE CASOS  QUANTIDADE DE OBITOS
0  Centro-Oeste               734005                 15660
1      Nordeste              1553565                 43546
2         Norte               739331                 16428
3       Sudeste              2078787                 76288
4           Sul               840161                 15533

In [ ]:
df.ESTADO

0    Centro-Oeste
1        Nordeste
2           Norte
3         Sudeste
4             Sul
Name: ESTADO, dtype: object

In [ ]:
df['QUANTIDADE DE CASOS']

0     734005
1    1553565
2     739331
3    2078787
4     840161
Name: QUANTIDADE DE CASOS, dtype: int64

### Obtendo um array NumPy
- usar to_numpy() ou numpy.asarray().

In [ ]:
df.to_numpy()

array([['Centro-Oeste', 734005, 15660],
       ['Nordeste', 1553565, 43546],
       ['Norte', 739331, 16428],
       ['Sudeste', 2078787, 76288],
       ['Sul', 840161, 15533]], dtype=object)

In [ ]:
np.asarray(df)

array([['Centro-Oeste', 734005, 15660],
       ['Nordeste', 1553565, 43546],
       ['Norte', 739331, 16428],
       ['Sudeste', 2078787, 76288],
       ['Sul', 840161, 15533]], dtype=object)

### Dados ausentes nos cálculos.

O DataFrame tem os métodos add(), sub(), mul(), div()

In [ ]:
df = pd.DataFrame({
'primeiro': pd.Series(np.random.randint(1,10,3), index=['a', 'b', 'c']),
'segundo': pd.Series(np.random.randint(1,10,4), index=['a', 'b', 'c', 'd']),
'col1': pd.Series(np.random.randint(1,10,3), index=['b', 'c', 'd'])})
df

   primeiro  segundo  col1
a       7.0        3   NaN
b       1.0        1   7.0
c       3.0        8   3.0
d       NaN        4   2.0

In [ ]:
row = df.iloc[1]
row

primeiro    1.0
segundo     1.0
col1        7.0
Name: b, dtype: float64

In [ ]:
column = df['segundo']
column

a    3
b    1
c    8
d    4
Name: segundo, dtype: int64

In [ ]:
df.sub(row, axis=1)

   primeiro  segundo  col1
a       6.0      2.0   NaN
b       0.0      0.0   0.0
c       2.0      7.0  -4.0
d       NaN      3.0  -5.0

In [ ]:
df.sub(column, axis='index')

   primeiro  segundo  col1
a       4.0        0   NaN
b       0.0        0   6.0
c      -5.0        0  -5.0
d       NaN        0  -2.0

In [ ]:
df.sub(column, axis=0)

   primeiro  segundo  col1
a       4.0        0   NaN
b       0.0        0   6.0
c      -5.0        0  -5.0
d       NaN        0  -2.0

In [ ]:
df

In [ ]:
div, rem = divmod(df['primeiro'], 3)

In [ ]:
div

a    2.0
b    0.0
c    1.0
d    NaN
Name: primeiro, dtype: float64

In [ ]:
rem

### Operações com dados ausentes com valores de preenchimento 
Em Series e DataFrame, as funções aritméticas têm a opção de inserir um fill_value
Pode substituir posteriormente NaN por algum outro valor usando, fillna se desejar.

In [ ]:
df1 = pd.DataFrame({
'primeiro': pd.Series(np.random.randint(1,10,3), index=['a', 'b', 'c'])})
df1

   primeiro
a         1
b         5
c         2

In [ ]:
df2 = pd.DataFrame({
    'primeiro': pd.Series(np.random.randint(1,10,4), index=['a', 'b', 'c', 'd'])})
df2

   primeiro
a         8
b         7
c         6
d         3

In [ ]:
df1 + df2

   primeiro
a       9.0
b      12.0
c       8.0
d       NaN

In [ ]:
df1.add(df2, fill_value=0)

   primeiro
a       9.0
b      12.0
c       8.0
d       3.0

### Comparações flexíveis 
Série e DataFrame tem os métodos de comparação de binário eq, ne, lt, gt, le, e ge cujo comportamento é análogo ao das operações aritméticas binárias.

Essas operações produzem um objeto pandas do mesmo tipo que a entrada do lado esquerdo que é do tipo d bool. Esses booleanobjetos podem ser usados ​​em operações de indexação

In [ ]:
df1.gt(df2)

   primeiro
a     False
b     False
c     False
d     False

In [ ]:
df2.ne(df1)

   primeiro
a      True
b      True
c      True
d      True

## Reduções booleanas 
#### Você pode aplicar as reduções: empty, any(), all(), e bool() para fornecer uma maneira de resumir um resultado boolean.

In [ ]:
df > 0

   primeiro  segundo   col1
a      True     True  False
b      True     True   True
c      True     True   True
d     False     True   True

In [ ]:
(df > 0).all()

primeiro    False
segundo      True
col1        False
dtype: bool

In [ ]:
(df['primeiro'] > 0).all()

False

In [ ]:
(df > 0).any()

primeiro    True
segundo     True
col1        True
dtype: bool

#### Você pode reduzir a um valor booleano final.

In [ ]:
(df > 0).all().any()

True

#### Você pode testar se um objeto pandas está vazio, por meio da emptypropriedade.

In [ ]:
df.empty

False

In [ ]:
df = pd.DataFrame(columns=list('ABC'))
if df.empty:
  print('Data frame vazio')
else:
  df.head()

Data frame vazio

In [ ]:
df = pd.DataFrame({ 'a' : [1,2,3], 'b':[3,4,5]})
if df.empty:
  print('Data frame vazio')
else:
  print(df.head())

   a  b
0  1  3
1  2  4
2  3  5

## Comparando se os objetos são equivalentes

In [ ]:
df

   a  b
0  1  3
1  2  4
2  3  5

In [ ]:
df + df == df * 2

      a     b
0  True  True
1  True  True
2  True  True

In [ ]:
(df + df == df * 2).all()

a    True
b    True
dtype: bool

#### Series e DataFrames têm um equals()método para testar a igualdade, com NaNs em locais correspondentes tratados como iguais.

In [ ]:
(df + df).equals(df * 2)

### Comparando objetos semelhantes a array 
Você pode realizar comparações de elementos de forma conveniente ao comparar uma estrutura de dados do pandas com um valor escalar

In [ ]:
import pandas as pd
pd.Series(['01', '02', '03']) == '01'

0     True
1    False
2    False
dtype: bool

In [ ]:
pd.Index(['01', '02', '03']) == '04'

array([False, False, False])

pd.Index(['01', '02', '03']) == '01'

### O Pandas também lida com comparações de elementos entre diferentes objetos semelhantes a matrizes do mesmo comprimento:

In [ ]:
pd.Series(['01', '02', '03']) == pd.Index(['01', '02', '04'])

0     True
1     True
2    False
dtype: bool

In [ ]:
pd.Series(['01', '02', '03']) == np.array(['01', '02', '04'])

0     True
1     True
2    False
dtype: bool

## Combinando conjuntos de dados sobrepostos com combine_first():

In [ ]:
df1 = pd.DataFrame({'A': [1., np.nan, 3., 5., np.nan],
                    'B': [np.nan, 2., 3., np.nan, 6.]})
df1

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

In [ ]:
df2 = pd.DataFrame({'A': [5., 2., 4., np.nan, 3., 7.],
                              'B': [np.nan, np.nan, 3., 4., 6., 8.]})
df2

     A    B
0  5.0  NaN
1  2.0  NaN
2  4.0  3.0
3  NaN  4.0
4  3.0  6.0
5  7.0  8.0

In [ ]:
df1.combine_first(df2)

     A    B
0  1.0  NaN
1  2.0  2.0
2  3.0  3.0
3  5.0  4.0
4  3.0  6.0
5  7.0  8.0

### Combinação de DataFrame Generico
O DataFrame.combine() pega outro DataFrame e uma função combinadora, alinha o DataFrame de entrada e então passa os pares de função combinadora de Series (isto é, colunas cujos nomes são iguais).

In [ ]:
def combiner(x, y):
    return np.where(pd.isna(x), y, x)

df1.combine(df2,func = combiner , fill_value =0)

     A    B
0  1.0  0.0
1  0.0  2.0
2  3.0  3.0
3  5.0  0.0
4  0.0  6.0
5  0.0  0.0

## Estatísticas descritivas 
Existe um grande número de métodos para calcular estatísticas descritivas como sum(), mean()e quantile(),  cumsum()e cumprod()

In [ ]:
df = pd.read_csv('totaisregioes_arr.csv', sep=';',names =['UF','CASOS','OBITOS'], index_col='UF')
df

                CASOS  OBITOS
UF
Centro-Oeste   734005   15660
Nordeste      1553565   43546
Norte          739331   16428
Sudeste       2078787   76288
Sul            840161   15533

In [ ]:
df.mean(0)

CASOS     1189169.8
OBITOS      33491.0
dtype: float64

In [ ]:
df2 = df.T
df2

UF      Centro-Oeste  Nordeste   Norte  Sudeste     Sul
CASOS         734005   1553565  739331  2078787  840161
OBITOS         15660     43546   16428    76288   15533

In [ ]:
df2.mean(1)

CASOS     1189169.8
OBITOS      33491.0
dtype: float64

Todos esses métodos têm uma skipna opção sinalizando se deve excluir dados ausentes ( True por padrão):

In [ ]:
df.sum(0, skipna=False)

CASOS     5945849
OBITOS     167455
dtype: int64

In [ ]:
df.sum(axis=0, skipna=True)

CASOS     5945849
OBITOS     167455
dtype: int64

## Combinado com o comportamento aritmético / de transmissão

In [ ]:
desvio = (df - df.mean()) 
desvio

                 CASOS   OBITOS
UF
Centro-Oeste -455164.8 -17831.0
Nordeste      364395.2  10055.0
Norte        -449838.8 -17063.0
Sudeste       889617.2  42797.0
Sul          -349008.8 -17958.0

In [ ]:
df.cumsum()

                CASOS  OBITOS
UF
Centro-Oeste   734005   15660
Nordeste      2287570   59206
Norte         3026901   75634
Sudeste       5105688  151922
Sul           5945849  167455

### Função Comuns

- count: Número de observações não NA
- sum : Soma de valores
- mean : Média dos valores
- mad: Desvio médio absoluto
- median: Mediana aritmética de valores
- min: Mínimo
- max: Máximo
- mode: Modo
- abs: Valor absoluto
- prod ;Produto de valores
- std: Desvio padrão da amostra corrigido por Bessel
- var: Variância imparcial
- sem: Erro padrão da média
- skew: Amostra de assimetria (3º momento)
- kurt: Curtose de amostra (4º momento)
- quantile: Quantil de amostra (valor em%)
- cumsum: Soma cumulativa
- cumprod: Produto cumulativo
- cummax: Máximo cumulativo
- cummin: Mínimo cumulativo

### Series.nunique() 
retornará o número de valores não NA exclusivos em uma série:

In [ ]:
series = pd.Series(np.random.randint(100,150,10))
print(series)
series.unique()
print(series.nunique())

0    141
1    126
2    107
3    139
4    103
5    128
6    149
7    121
8    122
9    123
dtype: int64
10

## Resumindo os dados com :describe() 
Describe() função conveniente que calcula uma variedade de estatísticas resumidas sobre uma série ou colunas de um DataFrame (excluindo NAs):

In [ ]:
series = pd.Series(np.random.randn(10))
series[::2]

0    2.309337
2    0.801579
4   -1.416337
6   -2.255608
8    0.601708
dtype: float64

In [ ]:
series[::2] = np.nan
series

0         NaN
1    1.202894
2         NaN
3    0.720500
4         NaN
5   -0.282745
6         NaN
7    0.661782
8         NaN
9   -1.577292
dtype: float64

In [ ]:
series.describe()

count    5.000000
mean     0.145028
std      1.103025
min     -1.577292
25%     -0.282745
50%      0.661782
75%      0.720500
max      1.202894
dtype: float64

In [ ]:
df = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
df

          a         b         c         d         e
0 -0.418457  0.601517  1.313904 -0.670203 -1.504930
1 -0.359676  0.672350 -0.816637  0.520720  1.324948
2  0.245987  0.062451 -0.250562  0.441589  0.246606
3 -2.606032  1.011472  1.867808 -0.956715 -0.937939
4  0.294110  1.020628  3.554236 -0.577629 -0.174730
5 -0.473589 -0.472543  0.205101  0.097901 -1.136324
6  1.665513  1.568989  0.631680 -1.188402 -0.542693
7  0.480341 -1.015704  0.428564 -1.171341  0.073740
8  1.021459 -1.976911  1.641225 -0.023195  0.174332
9  0.707650  1.953732  1.881500 -1.048677 -0.693292

In [ ]:
df.iloc[::2] = np.nan
df

          a         b         c         d         e
0       NaN       NaN       NaN       NaN       NaN
1 -0.359676  0.672350 -0.816637  0.520720  1.324948
2       NaN       NaN       NaN       NaN       NaN
3 -2.606032  1.011472  1.867808 -0.956715 -0.937939
4       NaN       NaN       NaN       NaN       NaN
5 -0.473589 -0.472543  0.205101  0.097901 -1.136324
6       NaN       NaN       NaN       NaN       NaN
7  0.480341 -1.015704  0.428564 -1.171341  0.073740
8       NaN       NaN       NaN       NaN       NaN
9  0.707650  1.953732  1.881500 -1.048677 -0.693292

In [ ]:
df.describe()

              a         b         c         d         e
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean  -0.450261  0.429862  0.713267 -0.511622 -0.273773
std    1.309855  1.185669  1.159486  0.767954  1.004711
min   -2.606032 -1.015704 -0.816637 -1.171341 -1.136324
25%   -0.473589 -0.472543  0.205101 -1.048677 -0.937939
50%   -0.359676  0.672350  0.428564 -0.956715 -0.693292
75%    0.480341  1.011472  1.867808  0.097901  0.073740
max    0.707650  1.953732  1.881500  0.520720  1.324948

#### Você pode selecionar percentis específicos para incluir na saída:

In [ ]:
series.describe(percentiles=[.05, .25, .75, .95])

count    5.000000
mean     0.145028
std      1.103025
min     -1.577292
5%      -1.318383
25%     -0.282745
50%      0.661782
75%      0.720500
95%      1.106416
max      1.202894
dtype: float64

Para um objeto Series não numérico, describe()fornecerá um resumo simples do número de valores exclusivos e valores de ocorrência mais frequente:

In [ ]:
s = pd.Series(['a', 'a', 'b', 'b', 'a', 'a', np.nan, 'c', 'd', 'a'])
s.describe()

count     9
unique    4
top       a
freq      5
dtype: object

Em DataFrame de tipo misto,o describe() restringirá o resumo para incluir apenas colunas numéricas ou, se nenhuma for, apenas colunas categóricas:

In [ ]:
df = pd.DataFrame({'a': ['joão', 'jose', 'joaquim', 'maria'], 'b': range(4)})
df.describe()

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

### Este comportamento pode ser controlado fornecendo uma lista de tipos como include/ exclude argumentos. O valor especial alltambém pode ser usado:

In [ ]:
df.describe(include=['object'])

           a
count      4
unique     4
top     jose
freq       1

In [ ]:
df.describe(include=['number'])

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

In [ ]:
df.describe(include='all')

           a         b
count      4  4.000000
unique     4       NaN
top     jose       NaN
freq       1       NaN
mean     NaN  1.500000
std      NaN  1.290994
min      NaN  0.000000
25%      NaN  0.750000
50%      NaN  1.500000
75%      NaN  2.250000
max      NaN  3.000000

## Agregações de dados com groupby

In [ ]:
import pandas as pd
df = pd.read_csv('/content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF','CASOS','OBITOS'])
df

          REGIAO  UF    CASOS  OBITOS
0   Centro-Oeste  DF   221526    3845
1   Centro-Oeste  GO   269857    6107
2   Centro-Oeste  MS    89654    1699
3   Centro-Oeste  MT   152968    4009
4       Nordeste  AL    92951    2304
5       Nordeste  BA   377445    8013
6       Nordeste  CE   288122    9461
7       Nordeste  MA   190321    4203
8       Nordeste  PB   140355    3223
9       Nordeste  PE   172716    8873
10      Nordeste  PI   120913    2554
11      Nordeste  RN    84381    2649
12      Nordeste  SE    86361    2266
13         Norte  AC    33725     709
14         Norte  AM   171161    4728
15         Norte  AP    55652     783
16         Norte  PA   263155    6844
17         Norte  RO    76019    1511
18         Norte  RR    61001     709
19         Norte  TO    78618    1144
20       Sudeste  ES   174144    4058
21       Sudeste  MG   387751    9605
22       Sudeste  RJ   332396   21698
23       Sudeste  SP  1184496   40927
24           Sul  PR   246169    5793
25           Sul  RS   287204    6356
26           Sul  SC   306788    3384

In [ ]:
df.describe()

              CASOS        OBITOS
count  2.700000e+01     27.000000
mean   2.202166e+05   6202.037037
std    2.186400e+05   8160.224075
min    3.372500e+04    709.000000
25%    8.800750e+04   2285.000000
50%    1.727160e+05   4009.000000
75%    2.785305e+05   6600.000000
max    1.184496e+06  40927.000000

In [ ]:
df.groupby(['REGIAO']).mean()

                      CASOS        OBITOS
REGIAO
Centro-Oeste  183501.250000   3915.000000
Nordeste      172618.333333   4838.444444
Norte         105618.714286   2346.857143
Sudeste       519696.750000  19072.000000
Sul           280053.666667   5177.666667

In [ ]:
df.groupby(['REGIAO']).sum()

                CASOS  OBITOS
REGIAO
Centro-Oeste   734005   15660
Nordeste      1553565   43546
Norte          739331   16428
Sudeste       2078787   76288
Sul            840161   15533

In [ ]:
df.groupby(['REGIAO']).max()

              UF    CASOS  OBITOS
REGIAO
Centro-Oeste  MT   269857    6107
Nordeste      SE   377445    9461
Norte         TO   263155    6844
Sudeste       SP  1184496   40927
Sul           SC   306788    6356

In [ ]:
df.groupby(by=["REGIAO"]).count()

              UF  CASOS  OBITOS
REGIAO
Centro-Oeste   4      4       4
Nordeste       9      9       9
Norte          7      7       7
Sudeste        4      4       4
Sul            3      3       3

In [ ]:
df.groupby(by=["REGIAO"])[['OBITOS', 'CASOS']].count()

              OBITOS  CASOS
REGIAO
Centro-Oeste       4      4
Nordeste           9      9
Norte              7      7
Sudeste            4      4
Sul                3      3

## API de agregação  com DataFrame.aggregate(), ou o alias DataFrame.agg()
A API de agregação permite expressar, possivelmente, várias operações de agregação de uma forma única e concisa.

In [ ]:
df.sum()

REGIAO    Centro-OesteCentro-OesteCentro-OesteCentro-Oes...
UF        DFGOMSMTALBACEMAPBPEPIRNSEACAMAPPARORRTOESMGRJ...
CASOS                                               5945849
OBITOS                                               167455
dtype: object

In [ ]:
import numpy as np
df.agg(np.sum)

REGIAO    Centro-OesteCentro-OesteCentro-OesteCentro-Oes...
UF        DFGOMSMTALBACEMAPBPEPIRNSEACAMAPPARORRTOESMGRJ...
CASOS                                               5945849
OBITOS                                               167455
dtype: object

In [ ]:
df.agg('sum')

REGIAO    Centro-OesteCentro-OesteCentro-OesteCentro-Oes...
UF        DFGOMSMTALBACEMAPBPEPIRNSEACAMAPPARORRTOESMGRJ...
CASOS                                               5945849
OBITOS                                               167455
dtype: object

# Equivalente ao ``.sum()``

In [ ]:
df.sum()

REGIAO    Centro-OesteCentro-OesteCentro-OesteCentro-Oes...
UF        DFGOMSMTALBACEMAPBPEPIRNSEACAMAPPARORRTOESMGRJ...
CASOS                                               5945849
OBITOS                                               167455
dtype: object

Agregações únicas em um Series retornarão um valor escalar:

In [ ]:
df['CASOS'].sum()

5945849

In [ ]:
df['CASOS'].agg('sum')

5945849

### Agregando com múltiplas funções 
Pode-se passar vários argumentos de agregação como uma lista. 

Os resultados de cada uma das funções passadas formarão uma linha no resultado DataFrame. 

As colunas receberão os nomes das fuções de agregação.

In [ ]:
df[['CASOS', 'OBITOS']].sum()

CASOS     5945849
OBITOS     167455
dtype: int64

In [ ]:
df[['CASOS', 'OBITOS']].agg(['sum'])

       CASOS  OBITOS
sum  5945849  167455

In [ ]:
df[['CASOS', 'OBITOS']].agg(['sum', 'mean', 'max', 'min', 'std'])

             CASOS         OBITOS
sum   5.945849e+06  167455.000000
mean  2.202166e+05    6202.037037
max   1.184496e+06   40927.000000
min   3.372500e+04     709.000000
std   2.186400e+05    8160.224075

Em a Series, várias funções retornam a Series, indexado pelos nomes das funções:

In [ ]:
df['OBITOS'].agg(['sum', 'mean', 'max', 'min', 'std'])

sum     167455.000000
mean      6202.037037
max      40927.000000
min        709.000000
std       8160.224075
Name: OBITOS, dtype: float64

In [ ]:
df['OBITOS'].agg(['sum', lambda x: x.sum()])

sum         167455
<lambda>    167455
Name: OBITOS, dtype: int64

Passar uma função nomeada produzirá esse nome para a linha:

In [ ]:
def media(x):
    return x.mean()

In [ ]:
df['OBITOS'].agg(['sum', media])

sum      167455.000000
media      6202.037037
Name: OBITOS, dtype: float64

### Agregando com um dict 
DataFrame.agg permite que você personalize quais funções são aplicadas a quais colunas por meio de um dicionário.

In [ ]:
df.head()

         REGIAO  UF   CASOS  OBITOS
0  Centro-Oeste  DF  221526    3845
1  Centro-Oeste  GO  269857    6107
2  Centro-Oeste  MS   89654    1699
3  Centro-Oeste  MT  152968    4009
4      Nordeste  AL   92951    2304

In [ ]:
df.agg({'OBITOS': 'mean', 'CASOS': 'sum'})

OBITOS    6.202037e+03
CASOS     5.945849e+06
dtype: float64

Passar por uma lista irá gerar uma DataFramesaída. Você obterá uma saída tipo matriz de todos os agregadores. A saída consistirá em todas as funções exclusivas. Aqueles que não são indicados para uma coluna específica serão NaN:

In [ ]:
df.agg({'OBITOS': ['sum', 'mean', 'max', 'min', 'std'], 'CASOS': 'sum'})

             OBITOS      CASOS
max    40927.000000        NaN
mean    6202.037037        NaN
min      709.000000        NaN
std     8160.224075        NaN
sum   167455.000000  5945849.0

# Tipos de dados mistos 
Quando apresentado com dtypes mistos que não podem agregar, .agg só aceitará as agregações válidas.

In [ ]:
df.dtypes

REGIAO    object
UF        object
CASOS      int64
OBITOS     int64
dtype: object

In [ ]:
df[['CASOS', 'OBITOS']].agg(['min', 'sum', 'mean'])

             CASOS         OBITOS
min   3.372500e+04     709.000000
sum   5.945849e+06  167455.000000
mean  2.202166e+05    6202.037037

## Descrição personalizada 
Com .agg() ele é possível criar facilmente uma função personalizada.

In [ ]:
df['CASOS'].quantile(q=.75)

278530.5

In [ ]:
np.quantile(df['CASOS'] ,  q=.75)

278530.5

In [ ]:
q_75 = partial(pd.Series.quantile, q=0.75)
q_75.__name__ = '25%'
q_75(df['CASOS'])

278530.5

In [ ]:
from functools import partial
q_25 = partial(pd.Series.quantile, q=0.25)
q_25.__name__ = '25%'
q_75 = partial(pd.Series.quantile, q=0.75)
q_75.__name__ = '75%'
df.agg(['count', 'mean', 'std', 'min', q_25, 'median', q_75, 'max'])

              REGIAO   UF         CASOS        OBITOS
count             27   27  2.700000e+01     27.000000
min     Centro-Oeste   AC  3.372500e+04    709.000000
max              Sul   TO  1.184496e+06  40927.000000
mean             NaN  NaN  2.202166e+05   6202.037037
std              NaN  NaN  2.186400e+05   8160.224075
25%              NaN  NaN  8.800750e+04   2285.000000
median           NaN  NaN  1.727160e+05   4009.000000
75%              NaN  NaN  2.785305e+05   6600.000000

In [ ]:
df.groupby(by=["REGIAO"]).mean()

                      CASOS        OBITOS
REGIAO
Centro-Oeste  183501.250000   3915.000000
Nordeste      172618.333333   4838.444444
Norte         105618.714286   2346.857143
Sudeste       519696.750000  19072.000000
Sul           280053.666667   5177.666667

In [ ]:
df.groupby(by=["REGIAO"]).agg(['count', 'mean', 'std', 'min', q_25, 'median', q_75, 'max'])

             CASOS                                ...   OBITOS
             count           mean            std  ...   median       75%    max
REGIAO                                            ...
Centro-Oeste     4  183501.250000   78830.583868  ...   3927.0   4533.50   6107
Nordeste         9  172618.333333  100558.351877  ...   3223.0   8013.00   9461
Norte            7  105618.714286   82031.267727  ...   1144.0   3119.50   6844
Sudeste          4  519696.750000  452347.947833  ...  15651.5  26505.25  40927
Sul              3  280053.666667   30935.598270  ...   5793.0   6074.50   6356

[5 rows x 16 columns]

# Aplicando os conceitos aprendidos

In [ ]:
import zipfile
nome_arquivo_compactado = '/content/HIST_PAINEL_COVIDBR_03dez2020.zip'
with zipfile.ZipFile( nome_arquivo_compactado, 'r') as zip_ref:
    zip_ref.extractall('/content/')

In [ ]:
import pandas as pd
dfcovid = pd.read_csv('/content/HIST_PAINEL_COVIDBR_03dez2020.csv', sep=';')
dfcovid.head()

   regiao estado  ... emAcompanhamentoNovos  interior/metropolitana
0  Brasil    NaN  ...                   NaN                     NaN
1  Brasil    NaN  ...                   NaN                     NaN
2  Brasil    NaN  ...                   NaN                     NaN
3  Brasil    NaN  ...                   NaN                     NaN
4  Brasil    NaN  ...                   NaN                     NaN

[5 rows x 17 columns]

In [ ]:
dfcovid.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos',
       'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana'],
      dtype='object')

In [ ]:
colunasselecionadas = ['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019', 'casosNovos',  'obitosNovos',
      ]

In [ ]:
dfcovid = dfcovid [colunasselecionadas]

In [1]:
filtro = dfcovid['estado'].isna() == False
filtro.tail()

NameError: ignored

In [ ]:
dfcovid[filtro].head()

    regiao estado municipio  ...  populacaoTCU2019  casosNovos  obitosNovos
283  Norte     RO       NaN  ...         1777225.0           0            0
284  Norte     RO       NaN  ...         1777225.0           0            0
285  Norte     RO       NaN  ...         1777225.0           0            0
286  Norte     RO       NaN  ...         1777225.0           0            0
287  Norte     RO       NaN  ...         1777225.0           0            0

[5 rows x 12 columns]

In [ ]:
 dfcovid = dfcovid[ dfcovid['estado'].isna() == False ]

In [ ]:
 dfcovid.head()

    regiao estado municipio  ...  populacaoTCU2019  casosNovos  obitosNovos
283  Norte     RO       NaN  ...         1777225.0           0            0
284  Norte     RO       NaN  ...         1777225.0           0            0
285  Norte     RO       NaN  ...         1777225.0           0            0
286  Norte     RO       NaN  ...         1777225.0           0            0
287  Norte     RO       NaN  ...         1777225.0           0            0

[5 rows x 12 columns]

In [ ]:
dfcovid.tail()

               regiao estado  ... casosNovos  obitosNovos
1416851  Centro-Oeste     DF  ...        627            5
1416852  Centro-Oeste     DF  ...        444            5
1416853  Centro-Oeste     DF  ...        976            9
1416854  Centro-Oeste     DF  ...        783           16
1416855  Centro-Oeste     DF  ...        521            7

[5 rows x 12 columns]

In [ ]:
dfcovid = dfcovid[ dfcovid['codmun'].isna() ]
dfcovid.head()

    regiao estado municipio  ...  populacaoTCU2019  casosNovos  obitosNovos
283  Norte     RO       NaN  ...         1777225.0           0            0
284  Norte     RO       NaN  ...         1777225.0           0            0
285  Norte     RO       NaN  ...         1777225.0           0            0
286  Norte     RO       NaN  ...         1777225.0           0            0
287  Norte     RO       NaN  ...         1777225.0           0            0

[5 rows x 12 columns]

In [ ]:
dfcovid.tail()

            regiao estado municipio  ...  populacaoTCU2019  casosNovos  obitosNovos
7919  Centro-Oeste     DF       NaN  ...         3015268.0         627            5
7920  Centro-Oeste     DF       NaN  ...         3015268.0         444            5
7921  Centro-Oeste     DF       NaN  ...         3015268.0         976            9
7922  Centro-Oeste     DF       NaN  ...         3015268.0         783           16
7923  Centro-Oeste     DF       NaN  ...         3015268.0         521            7

[5 rows x 12 columns]

In [ ]:
dfcovid.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosNovos', 'obitosNovos'],
      dtype='object')

In [ ]:
colunasselecionadas = ['regiao', 'estado',   'data', 'semanaEpi', 'populacaoTCU2019',
       'casosNovos', 'obitosNovos']
dfcovid = dfcovid[colunasselecionadas]
dfcovid.head()

    regiao estado        data  ...  populacaoTCU2019  casosNovos  obitosNovos
283  Norte     RO  2020-02-25  ...         1777225.0           0            0
284  Norte     RO  2020-02-26  ...         1777225.0           0            0
285  Norte     RO  2020-02-27  ...         1777225.0           0            0
286  Norte     RO  2020-02-28  ...         1777225.0           0            0
287  Norte     RO  2020-02-29  ...         1777225.0           0            0

[5 rows x 7 columns]

In [ ]:
dfcovid[['casosNovos',	'obitosNovos']].describe()

         casosNovos  obitosNovos
count   7641.000000  7641.000000
mean     848.983641    22.938097
std     1482.703202    45.403245
min    -7926.000000   -75.000000
25%       73.000000     1.000000
50%      384.000000     8.000000
75%     1043.000000    24.000000
max    30913.000000   713.000000

In [ ]:
dfcovid[['regiao',	'estado']].describe()

          regiao estado
count       7641   7641
unique         5     27
top     Nordeste     CE
freq        2547    283

In [ ]:
dfcovid[ (dfcovid.casosNovos < 0) | (dfcovid.obitosNovos < 0)]

            regiao estado  ... casosNovos  obitosNovos
995          Norte     AM  ...        476           -3
1015         Norte     AM  ...        522           -5
1251         Norte     RR  ...       2152           -1
1569         Norte     PA  ...       1362          -13
1570         Norte     PA  ...       1664          -22
1628         Norte     PA  ...       1240          -75
3023      Nordeste     CE  ...      -7926           10
3086      Nordeste     CE  ...        698           -2
3101      Nordeste     CE  ...        658           -2
3282      Nordeste     RN  ...      -1349           16
3870      Nordeste     PE  ...       1475          -37
7219  Centro-Oeste     MT  ...       -264           37
7503  Centro-Oeste     GO  ...        -26           13

[13 rows x 7 columns]

## Qual total de casos e óbitos do Brasil?

In [ ]:
totalbrasil = dfcovid[['casosNovos','obitosNovos']].sum()

In [ ]:
totalbrasil = dfcovid[['casosNovos','obitosNovos']].agg('sum')

## Qual o total por região?

In [ ]:
totalregioes = dfcovid.groupby('regiao')[['casosNovos','obitosNovos']].sum()
totalregioes

              casosNovos  obitosNovos
regiao
Centro-Oeste      777780        16275
Nordeste         1657797        44766
Norte             779816        16912
Sudeste          2257142        80062
Sul              1014549        17255

In [ ]:
totalregioes = dfcovid.groupby('regiao', sort=True)[['casosNovos','obitosNovos']].agg('sum')
totalregioes

              casosNovos  obitosNovos
regiao
Centro-Oeste      777780        16275
Nordeste         1657797        44766
Norte             779816        16912
Sudeste          2257142        80062
Sul              1014549        17255

In [ ]:
totalregioes.sort_values(by= 'obitosNovos', ascending=False)

              casosNovos  obitosNovos
regiao
Sudeste          2257142        80062
Nordeste         1657797        44766
Sul              1014549        17255
Norte             779816        16912
Centro-Oeste      777780        16275

Qual o total por estados

In [ ]:
totalestados = dfcovid.groupby(['regiao','estado'])[['casosNovos','obitosNovos']].agg('sum')
totalestados.head(3)

                     casosNovos  obitosNovos
regiao       estado
Centro-Oeste DF          231426         3962
             GO          283834         6401
             MS          102236         1804

In [ ]:
totalestados = dfcovid.groupby(['regiao','estado'])[['casosNovos','obitosNovos']].sum()
totalestados.head(3)

                     casosNovos  obitosNovos
regiao       estado
Centro-Oeste DF          231426         3962
             GO          283834         6401
             MS          102236         1804

In [ ]:
totalestados.sort_values(by=['regiao','obitosNovos']).head()

                     casosNovos  obitosNovos
regiao       estado
Centro-Oeste MS          102236         1804
             DF          231426         3962
             MT          160284         4108
             GO          283834         6401
Nordeste     SE           91718         2320

In [ ]:
totalestadoeregiao = totalestados

In [ ]:
totalestadoeregiao.columns = ['casosNovosUF', 'obitosNovosUF']
totalestadoeregiao.reset_index(inplace=True)

In [ ]:
novoestadoregiao = pd.merge(totalestadoeregiao, totalregioes, on='regiao')
novoestadoregiao.head()

         regiao estado  casosNovosUF  obitosNovosUF  casosNovos  obitosNovos
0  Centro-Oeste     DF        231426           3962      777780        16275
1  Centro-Oeste     GO        283834           6401      777780        16275
2  Centro-Oeste     MS        102236           1804      777780        16275
3  Centro-Oeste     MT        160284           4108      777780        16275
4      Nordeste     AL         95643           2346     1657797        44766

In [ ]:
novoestadoregiao = novoestadoregiao.sort_values(by=['obitosNovos','regiao' ,'obitosNovosUF' ] , ascending=False)\
                  [['regiao',	'estado','casosNovosUF',	'obitosNovosUF']]

In [ ]:
novoestadoregiao.head()

      regiao estado  casosNovosUF  obitosNovosUF
23   Sudeste     SP       1267912          42637
22   Sudeste     RJ        365185          22891
21   Sudeste     MG        428790          10187
20   Sudeste     ES        195255           4347
6   Nordeste     CE        303168           9657

In [ ]:
novoestadoregiao.groupby(['regiao',	'estado']).sum()

                     casosNovosUF  obitosNovosUF
regiao       estado
Centro-Oeste DF            231426           3962
             GO            283834           6401
             MS            102236           1804
             MT            160284           4108
Nordeste     AL             95643           2346
             BA            412685           8336
             CE            303168           9657
             MA            194320           4322
             PB            147274           3326
             PE            187038           9098
             PI            129096           2650
             RN             96855           2711
             SE             91718           2320
Norte        AC             36899            730
             AM            180842           4932
             AP             60391            819
             PA            273126           6933
             RO             81733           1586
             RR             64174            739
             TO             82651           1173
Sudeste      ES            195255           4347
             MG            428790          10187
             RJ            365185          22891
             SP           1267912          42637
Sul          PR            293969           6314
             RS            337003           7043
             SC            383577           3898

## Leituras Adicionais e Referências:

- Python Tutorial at W3Schools: https://www.w3schools.com/python/
- Python official documentation: https://docs.python.org/3/tutorial/index.html
- Pandas  official documentation: https://pandas.pydata.org/pandas-docs/stable/index.html

# Exercícios de Fixação
***
- Utilizando o conteúdo abaixo, extraído do portal do IBGE (https://www.ibge.gov.br/cidades-e-estados), atribua-o a uma variável chamada estados do Brasil

## Entrega dos Exercícios:
Os notebooks devem ser postados no ambiente virtual https://inefeonline.com.br/ no tópico da respectiva aula para avaliação.

# Agradecimentos

## Muito obrigado a todos os presentes e até a próxima aula.