# 04 - Pandas - Processamento e Análise de Dados
## Aula 11 - 08 - Pandas - Agregação e Resumo de dados

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/



## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

# Pandas - Agregação e Resumo de dados
## Pandas

O pandas é uma ferramenta de análise e manipulação de dados de código aberto rápida, poderosa, flexível e fácil de usar,
construída sobre a linguagem de programação Python 

https://pandas.pydata.org/

## Estruturas de dados do Pandas

In [1]:
import numpy as np
import pandas as pd

## Agregações de dados com groupby

In [2]:
import pandas as pd
df = pd.read_csv('./content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF','CASOS','OBITOS'])
df

          REGIAO  UF    CASOS  OBITOS
0   Centro-Oeste  DF   221526    3845
1   Centro-Oeste  GO   269857    6107
2   Centro-Oeste  MS    89654    1699
3   Centro-Oeste  MT   152968    4009
4       Nordeste  AL    92951    2304
5       Nordeste  BA   377445    8013
6       Nordeste  CE   288122    9461
7       Nordeste  MA   190321    4203
8       Nordeste  PB   140355    3223
9       Nordeste  PE   172716    8873
10      Nordeste  PI   120913    2554
11      Nordeste  RN    84381    2649
12      Nordeste  SE    86361    2266
13         Norte  AC    33725     709
14         Norte  AM   171161    4728
15         Norte  AP    55652     783
16         Norte  PA   263155    6844
17         Norte  RO    76019    1511
18         Norte  RR    61001     709
19         Norte  TO    78618    1144
20       Sudeste  ES   174144    4058
21       Sudeste  MG   387751    9605
22       Sudeste  RJ   332396   21698
23       Sudeste  SP  1184496   40927
24           Sul  PR   246169    5793
25           Sul  RS   287204    6356
26           Sul  SC   306788    3384

In [3]:
df.describe()

              CASOS        OBITOS
count  2.700000e+01     27.000000
mean   2.202166e+05   6202.037037
std    2.186400e+05   8160.224075
min    3.372500e+04    709.000000
25%    8.800750e+04   2285.000000
50%    1.727160e+05   4009.000000
75%    2.785305e+05   6600.000000
max    1.184496e+06  40927.000000

In [4]:
df.groupby(['REGIAO']).mean()

                      CASOS        OBITOS
REGIAO
Centro-Oeste  183501.250000   3915.000000
Nordeste      172618.333333   4838.444444
Norte         105618.714286   2346.857143
Sudeste       519696.750000  19072.000000
Sul           280053.666667   5177.666667

In [5]:
df.groupby(['REGIAO']).sum()

                CASOS  OBITOS
REGIAO
Centro-Oeste   734005   15660
Nordeste      1553565   43546
Norte          739331   16428
Sudeste       2078787   76288
Sul            840161   15533

In [6]:
df.groupby(['REGIAO']).max()

              UF    CASOS  OBITOS
REGIAO
Centro-Oeste  MT   269857    6107
Nordeste      SE   377445    9461
Norte         TO   263155    6844
Sudeste       SP  1184496   40927
Sul           SC   306788    6356

In [7]:
df.groupby(by=["REGIAO"]).count()

              UF  CASOS  OBITOS
REGIAO
Centro-Oeste   4      4       4
Nordeste       9      9       9
Norte          7      7       7
Sudeste        4      4       4
Sul            3      3       3

In [8]:
df.groupby(by=["REGIAO"])[['OBITOS', 'CASOS']].count()

              OBITOS  CASOS
REGIAO
Centro-Oeste       4      4
Nordeste           9      9
Norte              7      7
Sudeste            4      4
Sul                3      3

## API de agregação  com DataFrame.aggregate(), ou o alias DataFrame.agg()
A API de agregação permite expressar, possivelmente, várias operações de agregação de uma forma única e concisa.

In [9]:
df.sum()

REGIAO    Centro-OesteCentro-OesteCentro-OesteCentro-Oes...
UF        DFGOMSMTALBACEMAPBPEPIRNSEACAMAPPARORRTOESMGRJ...
CASOS                                               5945849
OBITOS                                               167455
dtype: object

In [10]:
import numpy as np
df.agg(np.sum)

REGIAO    Centro-OesteCentro-OesteCentro-OesteCentro-Oes...
UF        DFGOMSMTALBACEMAPBPEPIRNSEACAMAPPARORRTOESMGRJ...
CASOS                                               5945849
OBITOS                                               167455
dtype: object

In [11]:
df.agg('sum')

REGIAO    Centro-OesteCentro-OesteCentro-OesteCentro-Oes...
UF        DFGOMSMTALBACEMAPBPEPIRNSEACAMAPPARORRTOESMGRJ...
CASOS                                               5945849
OBITOS                                               167455
dtype: object

# Equivalente ao ``.sum()``

In [12]:
df.sum()

REGIAO    Centro-OesteCentro-OesteCentro-OesteCentro-Oes...
UF        DFGOMSMTALBACEMAPBPEPIRNSEACAMAPPARORRTOESMGRJ...
CASOS                                               5945849
OBITOS                                               167455
dtype: object

Agregações únicas em um Series retornarão um valor escalar:

In [13]:
df['CASOS'].sum()

5945849

In [14]:
df['CASOS'].agg('sum')

5945849

### Agregando com múltiplas funções 
Pode-se passar vários argumentos de agregação como uma lista. 

Os resultados de cada uma das funções passadas formarão uma linha no resultado DataFrame. 

As colunas receberão os nomes das fuções de agregação.

In [15]:
df[['CASOS', 'OBITOS']].sum()

CASOS     5945849
OBITOS     167455
dtype: int64

In [16]:
df[['CASOS', 'OBITOS']].agg(['sum'])

       CASOS  OBITOS
sum  5945849  167455

In [17]:
df[['CASOS', 'OBITOS']].agg(['sum', 'mean', 'max', 'min', 'std'])

             CASOS         OBITOS
sum   5.945849e+06  167455.000000
mean  2.202166e+05    6202.037037
max   1.184496e+06   40927.000000
min   3.372500e+04     709.000000
std   2.186400e+05    8160.224075

Em a Series, várias funções retornam a Series, indexado pelos nomes das funções:

In [18]:
df['OBITOS'].agg(['sum', 'mean', 'max', 'min', 'std'])

sum     167455.000000
mean      6202.037037
max      40927.000000
min        709.000000
std       8160.224075
Name: OBITOS, dtype: float64

In [19]:
df['OBITOS'].agg(['sum', lambda x: x.sum()])

sum         167455
<lambda>    167455
Name: OBITOS, dtype: int64

Passar uma função nomeada produzirá esse nome para a linha:

In [20]:
def media(x):
    return x.mean()

In [21]:
df['OBITOS'].agg(['sum', media])

sum      167455.000000
media      6202.037037
Name: OBITOS, dtype: float64

### Agregando com um dict 
DataFrame.agg permite que você personalize quais funções são aplicadas a quais colunas por meio de um dicionário.

In [22]:
df.head()

         REGIAO  UF   CASOS  OBITOS
0  Centro-Oeste  DF  221526    3845
1  Centro-Oeste  GO  269857    6107
2  Centro-Oeste  MS   89654    1699
3  Centro-Oeste  MT  152968    4009
4      Nordeste  AL   92951    2304

In [23]:
df.agg({'OBITOS': 'mean', 'CASOS': 'sum'})

OBITOS    6.202037e+03
CASOS     5.945849e+06
dtype: float64

Passar por uma lista irá gerar uma DataFramesaída. Você obterá uma saída tipo matriz de todos os agregadores. A saída consistirá em todas as funções exclusivas. Aqueles que não são indicados para uma coluna específica serão NaN:

In [24]:
df.agg({'OBITOS': ['sum', 'mean', 'max', 'min', 'std'], 'CASOS': 'sum'})

             OBITOS      CASOS
sum   167455.000000  5945849.0
mean    6202.037037        NaN
max    40927.000000        NaN
min      709.000000        NaN
std     8160.224075        NaN

# Tipos de dados mistos 
Quando apresentado com dtypes mistos que não podem agregar, .agg só aceitará as agregações válidas.

In [25]:
df.dtypes

REGIAO    object
UF        object
CASOS      int64
OBITOS     int64
dtype: object

In [26]:
df[['CASOS', 'OBITOS']].agg(['min', 'sum', 'mean'])

             CASOS         OBITOS
min   3.372500e+04     709.000000
sum   5.945849e+06  167455.000000
mean  2.202166e+05    6202.037037

## Descrição personalizada 
Com .agg() ele é possível criar facilmente uma função personalizada.

In [27]:
df['CASOS'].quantile(q=.75)

278530.5

In [28]:
np.quantile(df['CASOS'] ,  q=.75)

278530.5

In [29]:
from functools import partial
q_75 = partial(pd.Series.quantile, q=0.75)
q_75.__name__ = '25%'
q_75(df['CASOS'])

278530.5

In [30]:
q_25 = partial(pd.Series.quantile, q=0.25)
q_25.__name__ = '25%'
q_75 = partial(pd.Series.quantile, q=0.75)
q_75.__name__ = '75%'
df.agg(['count', 'mean', 'std', 'min', q_25, 'median', q_75, 'max'])

              REGIAO   UF         CASOS        OBITOS
count             27   27  2.700000e+01     27.000000
min     Centro-Oeste   AC  3.372500e+04    709.000000
max              Sul   TO  1.184496e+06  40927.000000
mean             NaN  NaN  2.202166e+05   6202.037037
std              NaN  NaN  2.186400e+05   8160.224075
25%              NaN  NaN  8.800750e+04   2285.000000
median           NaN  NaN  1.727160e+05   4009.000000
75%              NaN  NaN  2.785305e+05   6600.000000

In [31]:
df.groupby(by=["REGIAO"]).mean()

                      CASOS        OBITOS
REGIAO
Centro-Oeste  183501.250000   3915.000000
Nordeste      172618.333333   4838.444444
Norte         105618.714286   2346.857143
Sudeste       519696.750000  19072.000000
Sul           280053.666667   5177.666667

In [32]:
df.groupby(by=["REGIAO"]).agg(['count', 'mean', 'std', 'min', q_25, 'median', q_75, 'max'])

             CASOS                                                            \
             count           mean            std     min       25%    median
REGIAO
Centro-Oeste     4  183501.250000   78830.583868   89654  137139.5  187247.0
Nordeste         9  172618.333333  100558.351877   84381   92951.0  140355.0
Norte            7  105618.714286   82031.267727   33725   58326.5   76019.0
Sudeste          4  519696.750000  452347.947833  174144  292833.0  360073.5
Sul              3  280053.666667   30935.598270  246169  266686.5  287204.0

                                 OBITOS                                    \
                    75%      max  count          mean           std   min
REGIAO
Centro-Oeste  233608.75   269857      4   3915.000000   1800.856833  1699
Nordeste      190321.00   377445      9   4838.444444   3037.065694  2266
Norte         124889.50   263155      7   2346.857143   2444.396956   709
Sudeste       586937.25  1184496      4  19072.000000  16325.656556  4058
Sul           296996.00   306788      3   5177.666667   1578.661564  3384


                  25%   median       75%    max
REGIAO
Centro-Oeste  3308.50   3927.0   4533.50   6107
Nordeste      2554.00   3223.0   8013.00   9461
Norte          746.00   1144.0   3119.50   6844
Sudeste       8218.25  15651.5  26505.25  40927
Sul           4588.50   5793.0   6074.50   6356

## Leituras Adicionais e Referências:

- Python Tutorial at W3Schools: https://www.w3schools.com/python/
- Python official documentation: https://docs.python.org/3/tutorial/index.html
- Pandas  official documentation: https://pandas.pydata.org/pandas-docs/stable/index.html