# 04 - Pandas - Processamento e Análise de Dados
## Aula 11 - 17 - Pandas - Interação com Loop For em DataFrames ( items, iterrows e itertuples)

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/

## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

# Pandas - Interação com Loop For em DataFrames ( items, iterrows e itertuples)

# Interando com DataFrame

### Interando pelas colunas

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('./content/totaisregioes_arr.csv', sep=';',names =['REGIAO', 'CASOS','OBITOS'], index_col='REGIAO')
df.head()

                CASOS  OBITOS
REGIAO
Centro-Oeste   734005   15660
Nordeste      1553565   43546
Norte          739331   16428
Sudeste       2078787   76288
Sul            840161   15533

In [2]:
for col in df:
    print(col)
    print(df[col].sum())

CASOS
5945849
OBITOS
167455

### Os objetos Pandas também possuem o método items() do tipo dict para iterar os pares (chave, valor).

In [3]:
for col, values in df.items():
    print(f"coluna: {col} , total { values.sum()}")

coluna: CASOS , total 5945849
coluna: OBITOS , total 167455

### Interando  usando métodos iterrows(): 
Itere sobre as linhas de um DataFrame como pares (índice, série). Isso converte as linhas em objetos Series, o que pode alterar os dtypes e tem algumas implicações de desempenho.

In [4]:
for id, linha in df.iterrows():
    print(id, linha['CASOS'], linha['OBITOS'])

Centro-Oeste 734005 15660
Nordeste 1553565 43546
Norte 739331 16428
Sudeste 2078787 76288
Sul 840161 15533

### Interando o método itertuples(): 
Itere sobre as linhas de um DataFrame como pares nomeados dos valores. Isso é muito mais rápido iterrows()e, na maioria dos casos, é preferível usar para iterar os valores de um DataFrame.

In [5]:
for row in df.itertuples():
    print(row[0], row[1], row[2])

Centro-Oeste 734005 15660
Nordeste 1553565 43546
Norte 739331 16428
Sudeste 2078787 76288
Sul 840161 15533

### Atenção

A iteração por meio de objetos pandas é geralmente lenta . Em muitos casos, a iteração manual nas linhas não é necessária e 
Você nunca deve modificar algo sobre o qual está iterando. 
Por exemplo, no seguinte caso, definir o valor pode em alguns casos não ter efeito:

In [6]:
df

                CASOS  OBITOS
REGIAO
Centro-Oeste   734005   15660
Nordeste      1553565   43546
Norte          739331   16428
Sudeste       2078787   76288
Sul            840161   15533

In [7]:
for index, row in df.iterrows():
    row['CASOS'] = row['CASOS']  / 100_000

In [8]:
df

              CASOS  OBITOS
REGIAO
Centro-Oeste      7   15660
Nordeste         15   43546
Norte             7   16428
Sudeste          20   76288
Sul               8   15533