# 04 - Pandas - Processamento e Análise de Dados
## Aula 11 - 03 - Pandas - Indexação e Seleção de dados no DataFrame

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/



## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

# Pandas - Indexação e Seleção de dados no Dataframe

## Pandas

O pandas é uma ferramenta de análise e manipulação de dados de código aberto rápida, poderosa, flexível e fácil de usar,
construída sobre a linguagem de programação Python 

https://pandas.pydata.org/

## Estruturas de dados do Pandas

In [2]:
import numpy as np
import pandas as pd

## Indexação / seleção 
Os princípios básicos da indexação são os seguintes:

- Selecione a coluna: df[col]
- Selecione linha por etiqueta: df.loc[label]
- Selecione linha por localização de inteiro: df.iloc[loc]
- Fatia de linhas: df[5:10]
- Selecione as linhas por vetor booleano: df[bool_vec]

In [3]:
df = pd.read_csv('./content/totaisestados_arr.csv', sep=';',names =['UF','CASOS','OBITOS'])
df.head()

   UF   CASOS  OBITOS
0  DF  221526    3845
1  GO  269857    6107
2  MS   89654    1699
3  MT  152968    4009
4  AL   92951    2304

## seleção de linha

In [4]:
df.loc[1]

UF            GO
CASOS     269857
OBITOS      6107
Name: 1, dtype: object

In [5]:
df.iloc[2]

UF           MS
CASOS     89654
OBITOS     1699
Name: 2, dtype: object

In [6]:
df[5:9]

   UF   CASOS  OBITOS
5  BA  377445    8013
6  CE  288122    9461
7  MA  190321    4203
8  PB  140355    3223

In [7]:
filtro  = df['CASOS'] > 200000
filtro
df[filtro]

    UF    CASOS  OBITOS
0   DF   221526    3845
1   GO   269857    6107
5   BA   377445    8013
6   CE   288122    9461
16  PA   263155    6844
21  MG   387751    9605
22  RJ   332396   21698
23  SP  1184496   40927
24  PR   246169    5793
25  RS   287204    6356
26  SC   306788    3384

In [8]:
df[ df['CASOS'] > 200000]

    UF    CASOS  OBITOS
0   DF   221526    3845
1   GO   269857    6107
5   BA   377445    8013
6   CE   288122    9461
16  PA   263155    6844
21  MG   387751    9605
22  RJ   332396   21698
23  SP  1184496   40927
24  PR   246169    5793
25  RS   287204    6356
26  SC   306788    3384

In [9]:
df['CASOS'][df['CASOS'] > 300000]

5      377445
21     387751
22     332396
23    1184496
26     306788
Name: CASOS, dtype: int64

In [10]:
df[ df['CASOS'] > 200000] ['CASOS']

0      221526
1      269857
5      377445
6      288122
16     263155
21     387751
22     332396
23    1184496
24     246169
25     287204
26     306788
Name: CASOS, dtype: int64

In [11]:
df.columns

Index(['UF', 'CASOS', 'OBITOS'], dtype='object')

In [12]:
df2 =  df[['UF', 'OBITOS', 'CASOS']]
df2

    UF  OBITOS    CASOS
0   DF    3845   221526
1   GO    6107   269857
2   MS    1699    89654
3   MT    4009   152968
4   AL    2304    92951
5   BA    8013   377445
6   CE    9461   288122
7   MA    4203   190321
8   PB    3223   140355
9   PE    8873   172716
10  PI    2554   120913
11  RN    2649    84381
12  SE    2266    86361
13  AC     709    33725
14  AM    4728   171161
15  AP     783    55652
16  PA    6844   263155
17  RO    1511    76019
18  RR     709    61001
19  TO    1144    78618
20  ES    4058   174144
21  MG    9605   387751
22  RJ   21698   332396
23  SP   40927  1184496
24  PR    5793   246169
25  RS    6356   287204
26  SC    3384   306788

In [13]:
df3 = df.sort_values(by='CASOS', ascending=False)
df3.reset_index(inplace=True, drop=True)

In [14]:
df3

    UF    CASOS  OBITOS
0   SP  1184496   40927
1   MG   387751    9605
2   BA   377445    8013
3   RJ   332396   21698
4   SC   306788    3384
5   CE   288122    9461
6   RS   287204    6356
7   GO   269857    6107
8   PA   263155    6844
9   PR   246169    5793
10  DF   221526    3845
11  MA   190321    4203
12  ES   174144    4058
13  PE   172716    8873
14  AM   171161    4728
15  MT   152968    4009
16  PB   140355    3223
17  PI   120913    2554
18  AL    92951    2304
19  MS    89654    1699
20  SE    86361    2266
21  RN    84381    2649
22  TO    78618    1144
23  RO    76019    1511
24  RR    61001     709
25  AP    55652     783
26  AC    33725     709

## Leituras Adicionais e Referências:

- Python Tutorial at W3Schools: https://www.w3schools.com/python/
- Python official documentation: https://docs.python.org/3/tutorial/index.html
- Pandas  official documentation: https://pandas.pydata.org/pandas-docs/stable/index.html