# 04 - Pandas - Processamento e Análise de Dados
## Aula 11 - 07 - Pandas - Estatísticas Descritivas dos Dados do Dataframe

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/



## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

# Pandas - Estatísticas Descritivas dos Dados do Dataframe
## Pandas

O pandas é uma ferramenta de análise e manipulação de dados de código aberto rápida, poderosa, flexível e fácil de usar,
construída sobre a linguagem de programação Python 

https://pandas.pydata.org/

## Estruturas de dados do Pandas

In [1]:
import numpy as np
import pandas as pd

## Estatísticas descritivas 
Existe um grande número de métodos para calcular estatísticas descritivas como sum(), mean()e quantile(),  cumsum()e cumprod()

In [2]:
df = pd.read_csv('./content/totaisregioes_arr.csv', sep=';',names =['UF','CASOS','OBITOS'], index_col='UF')
df

                CASOS  OBITOS
UF
Centro-Oeste   734005   15660
Nordeste      1553565   43546
Norte          739331   16428
Sudeste       2078787   76288
Sul            840161   15533

In [3]:
df.mean(0)

CASOS     1189169.8
OBITOS      33491.0
dtype: float64

In [4]:
df2 = df.T
df2

UF      Centro-Oeste  Nordeste   Norte  Sudeste     Sul
CASOS         734005   1553565  739331  2078787  840161
OBITOS         15660     43546   16428    76288   15533

In [5]:
df2.mean(1)

CASOS     1189169.8
OBITOS      33491.0
dtype: float64

Todos esses métodos têm uma skipna opção sinalizando se deve excluir dados ausentes ( True por padrão):

In [6]:
df.sum(0, skipna=False)

CASOS     5945849
OBITOS     167455
dtype: int64

In [7]:
df.sum(axis=0, skipna=True)

CASOS     5945849
OBITOS     167455
dtype: int64

## Combinado com o comportamento aritmético / de transmissão

In [8]:
desvio = (df - df.mean()) 
desvio

                 CASOS   OBITOS
UF
Centro-Oeste -455164.8 -17831.0
Nordeste      364395.2  10055.0
Norte        -449838.8 -17063.0
Sudeste       889617.2  42797.0
Sul          -349008.8 -17958.0

In [9]:
df.cumsum()

                CASOS  OBITOS
UF
Centro-Oeste   734005   15660
Nordeste      2287570   59206
Norte         3026901   75634
Sudeste       5105688  151922
Sul           5945849  167455

### Função Comuns

- count: Número de observações não NA
- sum : Soma de valores
- mean : Média dos valores
- mad: Desvio médio absoluto
- median: Mediana aritmética de valores
- min: Mínimo
- max: Máximo
- mode: Modo
- abs: Valor absoluto
- prod ;Produto de valores
- std: Desvio padrão da amostra corrigido por Bessel
- var: Variância imparcial
- sem: Erro padrão da média
- skew: Amostra de assimetria (3º momento)
- kurt: Curtose de amostra (4º momento)
- quantile: Quantil de amostra (valor em%)
- cumsum: Soma cumulativa
- cumprod: Produto cumulativo
- cummax: Máximo cumulativo
- cummin: Mínimo cumulativo

### Series.nunique() 
retornará o número de valores não NA exclusivos em uma série:

In [10]:
series = pd.Series(np.random.randint(100,150,10))
print(series)
series.unique()
print(series.nunique())

0    112
1    135
2    100
3    126
4    142
5    103
6    128
7    149
8    125
9    117
dtype: int32
10

## Resumindo os dados com :describe() 
Describe() função conveniente que calcula uma variedade de estatísticas resumidas sobre uma série ou colunas de um DataFrame (excluindo NAs):

In [11]:
series = pd.Series(np.random.randn(10))
series[::2]

0   -0.691855
2    1.481085
4   -0.809886
6    0.465082
8    2.076143
dtype: float64

In [12]:
series[::2] = np.nan
series

0         NaN
1    0.217429
2         NaN
3    0.052257
4         NaN
5    0.339029
6         NaN
7    0.250409
8         NaN
9    0.598727
dtype: float64

In [13]:
series.describe()

count    5.000000
mean     0.291570
std      0.200661
min      0.052257
25%      0.217429
50%      0.250409
75%      0.339029
max      0.598727
dtype: float64

In [14]:
df = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
df

          a         b         c         d         e
0 -0.670969  0.556258 -0.171905  1.847292  0.064458
1 -0.758956 -1.005167  1.753226  0.511697 -0.747891
2 -1.622330 -1.867684  0.666846 -1.128170  0.847080
3 -0.509682  0.829846 -2.847759  0.868310  0.891832
4  0.272411 -0.813158  1.235552 -0.253376 -1.243086
5  1.169720 -0.790300  0.675137  1.999245 -0.733086
6  1.348166 -1.200926 -2.441887  1.001535 -0.011194
7  0.300978 -0.235816  0.855715  1.026085 -1.015722
8  1.086260 -0.925942 -0.679304 -0.705552  0.048928
9 -0.593288  1.153318  1.059611 -0.585237 -0.186586

In [15]:
df.iloc[::2] = np.nan
df

          a         b         c         d         e
0       NaN       NaN       NaN       NaN       NaN
1 -0.758956 -1.005167  1.753226  0.511697 -0.747891
2       NaN       NaN       NaN       NaN       NaN
3 -0.509682  0.829846 -2.847759  0.868310  0.891832
4       NaN       NaN       NaN       NaN       NaN
5  1.169720 -0.790300  0.675137  1.999245 -0.733086
6       NaN       NaN       NaN       NaN       NaN
7  0.300978 -0.235816  0.855715  1.026085 -1.015722
8       NaN       NaN       NaN       NaN       NaN
9 -0.593288  1.153318  1.059611 -0.585237 -0.186586

In [16]:
df.describe()

              a         b         c         d         e
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean  -0.078245 -0.009624  0.299186  0.764020 -0.358291
std    0.808703  0.962921  1.806018  0.934010  0.761046
min   -0.758956 -1.005167 -2.847759 -0.585237 -1.015722
25%   -0.593288 -0.790300  0.675137  0.511697 -0.747891
50%   -0.509682 -0.235816  0.855715  0.868310 -0.733086
75%    0.300978  0.829846  1.059611  1.026085 -0.186586
max    1.169720  1.153318  1.753226  1.999245  0.891832

#### Você pode selecionar percentis específicos para incluir na saída:

In [17]:
series.describe(percentiles=[.05, .25, .75, .95])

count    5.000000
mean     0.291570
std      0.200661
min      0.052257
5%       0.085291
25%      0.217429
50%      0.250409
75%      0.339029
95%      0.546787
max      0.598727
dtype: float64

Para um objeto Series não numérico, describe()fornecerá um resumo simples do número de valores exclusivos e valores de ocorrência mais frequente:

In [18]:
s = pd.Series(['a', 'a', 'b', 'b', 'a', 'a', np.nan, 'c', 'd', 'a'])
s.describe()

count     9
unique    4
top       a
freq      5
dtype: object

Em DataFrame de tipo misto,o describe() restringirá o resumo para incluir apenas colunas numéricas ou, se nenhuma for, apenas colunas categóricas:

In [19]:
df = pd.DataFrame({'a': ['joão', 'jose', 'joaquim', 'maria'], 'b': range(4)})
df.describe()

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

### Este comportamento pode ser controlado fornecendo uma lista de tipos como include/ exclude argumentos. O valor especial alltambém pode ser usado:

In [20]:
df.describe(include=['object'])

           a
count      4
unique     4
top     joão
freq       1

In [21]:
df.describe(include=['number'])

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

In [22]:
df.describe(include='all')

           a         b
count      4  4.000000
unique     4       NaN
top     joão       NaN
freq       1       NaN
mean     NaN  1.500000
std      NaN  1.290994
min      NaN  0.000000
25%      NaN  0.750000
50%      NaN  1.500000
75%      NaN  2.250000
max      NaN  3.000000

## Leituras Adicionais e Referências:

- Python Tutorial at W3Schools: https://www.w3schools.com/python/
- Python official documentation: https://docs.python.org/3/tutorial/index.html
- Pandas  official documentation: https://pandas.pydata.org/pandas-docs/stable/index.html