# 04 - Pandas - Processamento e Análise de Dados
## Aula 11 - 05 - Pandas - Inspecionando o Conteúdo do Dataframe

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/



## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

# Pandas - Inspecionando o Conteúdo do Dataframe
## Pandas

O pandas é uma ferramenta de análise e manipulação de dados de código aberto rápida, poderosa, flexível e fácil de usar,
construída sobre a linguagem de programação Python 

https://pandas.pydata.org/

## Estruturas de dados do Pandas

In [1]:
import numpy as np
import pandas as pd

## Lidando com DataFrames muito grandes 
DataFrames muito grandes serão truncados para exibi-los no console. 
Pode obter um resumo usando info().

In [2]:
df = pd.read_csv('./content/totaisregioes_arr.csv', sep=';',names =['UF','CASOS','OBITOS'])
df

             UF    CASOS  OBITOS
0  Centro-Oeste   734005   15660
1      Nordeste  1553565   43546
2         Norte   739331   16428
3       Sudeste  2078787   76288
4           Sul   840161   15533

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UF      5 non-null      object
 1   CASOS   5 non-null      int64
 2   OBITOS  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

## usando  to_string 
- retornará uma representação de string do DataFrame em formato tabular

In [4]:
print(df.T.to_string())

                   0         1       2        3       4
UF      Centro-Oeste  Nordeste   Norte  Sudeste     Sul
CASOS         734005   1553565  739331  2078787  840161
OBITOS         15660     43546   16428    76288   15533

### Alterar o quanto imprimir em uma única linha, definindo a display.width opção:

In [5]:
pd.set_option('display.width', 4)

In [6]:
print(df.T.to_string())

                   0         1       2        3       4
UF      Centro-Oeste  Nordeste   Norte  Sudeste     Sul
CASOS         734005   1553565  739331  2078787  840161
OBITOS         15660     43546   16428    76288   15533

In [7]:
pd.set_option('display.max_colwidth', 20)

In [8]:

print(df.T.to_string())

                   0         1       2        3       4
UF      Centro-Oeste  Nordeste   Norte  Sudeste     Sul
CASOS         734005   1553565  739331  2078787  840161
OBITOS         15660     43546   16428    76288   15533

## Funcionalidades básicas

#### Cabeça e cauda

In [9]:
df = pd.read_csv('./content/totaisregioes_arr.csv', sep=';',names =['UF','CASOS','OBITOS'])

In [10]:
df.head(2)

,UF,CASOS,OBITOS
0,Centro-Oeste,734005,15660
1,Nordeste,1553565,43546

In [11]:
df.tail(3)

,UF,CASOS,OBITOS
2,Norte,739331,16428
3,Sudeste,2078787,76288
4,Sul,840161,15533

In [12]:
df[2:4]

,UF,CASOS,OBITOS
2,Norte,739331,16428
3,Sudeste,2078787,76288

### Nome de colunas

In [13]:
df.columns

Index(['UF',
       'CASOS',
       'OBITOS'],
      dtype='object')

In [14]:
df.columns = [x.lower() for x in df.columns]
df.columns

Index(['uf',
       'casos',
       'obitos'],
      dtype='object')

In [15]:
df

,uf,casos,obitos
0,Centro-Oeste,734005,15660
1,Nordeste,1553565,43546
2,Norte,739331,16428
3,Sudeste,2078787,76288
4,Sul,840161,15533

In [16]:
df.columns =  ['ESTADO',  'QUANTIDADE DE CASOS', 'QUANTIDADE DE OBITOS']
df

,ESTADO,QUANTIDADE DE CASOS,QUANTIDADE DE OBITOS
0,Centro-Oeste,734005,15660
1,Nordeste,1553565,43546
2,Norte,739331,16428
3,Sudeste,2078787,76288
4,Sul,840161,15533

In [17]:
df.ESTADO

0    Centro-Oeste
1        Nordeste
2           Norte
3         Sudeste
4             Sul
Name: ESTADO, dtype: object

In [18]:
df['QUANTIDADE DE CASOS']

0     734005
1    1553565
2     739331
3    2078787
4     840161
Name: QUANTIDADE DE CASOS, dtype: int64

### Obtendo um array NumPy
- usar to_numpy() ou numpy.asarray().

In [19]:
df.to_numpy()

array([['Centro-Oeste', 734005, 15660],
       ['Nordeste', 1553565, 43546],
       ['Norte', 739331, 16428],
       ['Sudeste', 2078787, 76288],
       ['Sul', 840161, 15533]], dtype=object)

In [20]:
np.asarray(df)

array([['Centro-Oeste', 734005, 15660],
       ['Nordeste', 1553565, 43546],
       ['Norte', 739331, 16428],
       ['Sudeste', 2078787, 76288],
       ['Sul', 840161, 15533]], dtype=object)

## Leituras Adicionais e Referências:

- Python Tutorial at W3Schools: https://www.w3schools.com/python/
- Python official documentation: https://docs.python.org/3/tutorial/index.html
- Pandas  official documentation: https://pandas.pydata.org/pandas-docs/stable/index.html