# 04 - Pandas - Processamento e Análise de Dados
## Aula 11 - 14 - Pandas - Reindexando Dataframes e Séries (reindex e reindex_like)

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/

## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

# Pandas - Reindexando Dataframes e Séries (reindex e reindex_like)

# Reindexando e alterando rótulos 
reindex() é o método de alinhamento de dados fundamental em pandas.

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('./content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF', 'CASOS','OBITOS'], index_col=False)
df.head()

         REGIAO  UF   CASOS  OBITOS
0  Centro-Oeste  DF  221526    3845
1  Centro-Oeste  GO  269857    6107
2  Centro-Oeste  MS   89654    1699
3  Centro-Oeste  MT  152968    4009
4      Nordeste  AL   92951    2304

In [2]:
novoindex =  sorted(df.index, reverse= True)
print(novoindex)

colunas= sorted(df.columns, reverse= True)
print(colunas)

[26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
['UF', 'REGIAO', 'OBITOS', 'CASOS']

In [3]:
df.reindex(novoindex).head()

     REGIAO  UF    CASOS  OBITOS
26      Sul  SC   306788    3384
25      Sul  RS   287204    6356
24      Sul  PR   246169    5793
23  Sudeste  SP  1184496   40927
22  Sudeste  RJ   332396   21698

In [4]:
df.reindex(index=novoindex, columns=colunas).head()

    UF   REGIAO  OBITOS    CASOS
26  SC      Sul    3384   306788
25  RS      Sul    6356   287204
24  PR      Sul    5793   246169
23  SP  Sudeste   40927  1184496
22  RJ  Sudeste   21698   332396

In [5]:
df.reindex(novoindex, axis='index').head()

     REGIAO  UF    CASOS  OBITOS
26      Sul  SC   306788    3384
25      Sul  RS   287204    6356
24      Sul  PR   246169    5793
23  Sudeste  SP  1184496   40927
22  Sudeste  RJ   332396   21698

In [6]:
df.reindex(colunas, axis='columns').head()

   UF        REGIAO  OBITOS   CASOS
0  DF  Centro-Oeste    3845  221526
1  GO  Centro-Oeste    6107  269857
2  MS  Centro-Oeste    1699   89654
3  MT  Centro-Oeste    4009  152968
4  AL      Nordeste    2304   92951

In [7]:
obitos = df['OBITOS']
obitos = obitos.reindex(novoindex)
obitos.head()

26     3384
25     6356
24     5793
23    40927
22    21698
Name: OBITOS, dtype: int64

In [8]:
df['CASOS'].head()

0    221526
1    269857
2     89654
3    152968
4     92951
Name: CASOS, dtype: int64

In [9]:
df['CASOS'].reindex_like(obitos).head()

26     306788
25     287204
24     246169
23    1184496
22     332396
Name: CASOS, dtype: int64