# 04 - Pandas - Processamento e Análise de Dados
## Aula 11 - 11 - Pandas - Contagem de Valores

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/

## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

## Contagens de valor (histograma) / modo 
- O método value_counts() calcula um histograma de uma matriz 1D de valores

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('./content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF','CASOS','OBITOS'])
df.head()

         REGIAO  UF   CASOS  OBITOS
0  Centro-Oeste  DF  221526    3845
1  Centro-Oeste  GO  269857    6107
2  Centro-Oeste  MS   89654    1699
3  Centro-Oeste  MT  152968    4009
4      Nordeste  AL   92951    2304

In [2]:
df.REGIAO.value_counts()

Nordeste        9
Norte           7
Sudeste         4
Centro-Oeste    4
Sul             3
Name: REGIAO, dtype: int64

In [3]:
pd.value_counts(df.REGIAO)

Nordeste        9
Norte           7
Sudeste         4
Centro-Oeste    4
Sul             3
Name: REGIAO, dtype: int64

In [4]:
df.groupby('REGIAO').count()

              UF  CASOS  OBITOS
REGIAO
Centro-Oeste   4      4       4
Nordeste       9      9       9
Norte          7      7       7
Sudeste        4      4       4
Sul            3      3       3

In [5]:
df['REGIAO'].count()

27

In [6]:
df.groupby('REGIAO').count() / df['REGIAO'].count()

                    UF     CASOS    OBITOS
REGIAO
Centro-Oeste  0.148148  0.148148  0.148148
Nordeste      0.333333  0.333333  0.333333
Norte         0.259259  0.259259  0.259259
Sudeste       0.148148  0.148148  0.148148
Sul           0.111111  0.111111  0.111111

In [7]:
pd.value_counts(df.REGIAO) / df['REGIAO'].count()

Nordeste        0.333333
Norte           0.259259
Sudeste         0.148148
Centro-Oeste    0.148148
Sul             0.111111
Name: REGIAO, dtype: float64

### O método value_counts() pode ser usado para contar combinações em várias colunas.

In [8]:
df['casos100milhares'] = df['CASOS']/100_000
df['casos100milhares'] = df['casos100milhares'].astype(int)
df

          REGIAO  UF    CASOS  OBITOS  casos100milhares
0   Centro-Oeste  DF   221526    3845                 2
1   Centro-Oeste  GO   269857    6107                 2
2   Centro-Oeste  MS    89654    1699                 0
3   Centro-Oeste  MT   152968    4009                 1
4       Nordeste  AL    92951    2304                 0
5       Nordeste  BA   377445    8013                 3
6       Nordeste  CE   288122    9461                 2
7       Nordeste  MA   190321    4203                 1
8       Nordeste  PB   140355    3223                 1
9       Nordeste  PE   172716    8873                 1
10      Nordeste  PI   120913    2554                 1
11      Nordeste  RN    84381    2649                 0
12      Nordeste  SE    86361    2266                 0
13         Norte  AC    33725     709                 0
14         Norte  AM   171161    4728                 1
15         Norte  AP    55652     783                 0
16         Norte  PA   263155    6844                 2
17         Norte  RO    76019    1511                 0
18         Norte  RR    61001     709                 0
19         Norte  TO    78618    1144                 0
20       Sudeste  ES   174144    4058                 1
21       Sudeste  MG   387751    9605                 3
22       Sudeste  RJ   332396   21698                 3
23       Sudeste  SP  1184496   40927                11
24           Sul  PR   246169    5793                 2
25           Sul  RS   287204    6356                 2
26           Sul  SC   306788    3384                 3

In [9]:
df[['REGIAO', 'casos100milhares']].value_counts()

REGIAO        casos100milhares
Norte         0                   5
Nordeste      1                   4
              0                   3
Centro-Oeste  2                   2
Sudeste       3                   2
Sul           2                   2
Centro-Oeste  0                   1
              1                   1
Nordeste      2                   1
              3                   1
Norte         1                   1
              2                   1
Sudeste       1                   1
              11                  1
Sul           3                   1
dtype: int64

### Da mesma forma, você pode obter os valores de ocorrência mais frequente, ou seja, a moda

In [10]:
df.REGIAO.mode()

0    Nordeste
dtype: object

In [11]:
df.casos100milhares.mode()

0    0
dtype: int32