# 04 - Pandas - Processamento e Análise de Dados
## Aula 11 - 11 - Pandas - Contagem de Valores

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/

## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

## Discretização e quantificação 
Valores contínuos podem ser discretizados usando as funções

- cut()(bins com base em valores) e 
- qcut()(bins com base em quantis de amostra):

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('./content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF','CASOS','OBITOS'])
df.head()

         REGIAO  UF   CASOS  OBITOS
0  Centro-Oeste  DF  221526    3845
1  Centro-Oeste  GO  269857    6107
2  Centro-Oeste  MS   89654    1699
3  Centro-Oeste  MT  152968    4009
4      Nordeste  AL   92951    2304

In [2]:
df.head()

         REGIAO  UF   CASOS  OBITOS
0  Centro-Oeste  DF  221526    3845
1  Centro-Oeste  GO  269857    6107
2  Centro-Oeste  MS   89654    1699
3  Centro-Oeste  MT  152968    4009
4      Nordeste  AL   92951    2304

In [3]:
df['intervalos'] = pd.cut(df.OBITOS, 4)
df.head()

         REGIAO  UF   CASOS  OBITOS          intervalos
0  Centro-Oeste  DF  221526    3845  (668.782, 10763.5]
1  Centro-Oeste  GO  269857    6107  (668.782, 10763.5]
2  Centro-Oeste  MS   89654    1699  (668.782, 10763.5]
3  Centro-Oeste  MT  152968    4009  (668.782, 10763.5]
4      Nordeste  AL   92951    2304  (668.782, 10763.5]

In [4]:
pd.value_counts(df['intervalos'])

(668.782, 10763.5]    25
(20818.0, 30872.5]     1
(30872.5, 40927.0]     1
(10763.5, 20818.0]     0
Name: intervalos, dtype: int64

In [5]:
df['intervalos'] = pd.cut(df.OBITOS, [0, 5000, 10000, 15000, 20000, 30000, 40000, 50000])
df.head()

         REGIAO  UF   CASOS  OBITOS     intervalos
0  Centro-Oeste  DF  221526    3845      (0, 5000]
1  Centro-Oeste  GO  269857    6107  (5000, 10000]
2  Centro-Oeste  MS   89654    1699      (0, 5000]
3  Centro-Oeste  MT  152968    4009      (0, 5000]
4      Nordeste  AL   92951    2304      (0, 5000]

In [6]:
pd.value_counts(df['intervalos'])

(0, 5000]         17
(5000, 10000]      8
(20000, 30000]     1
(40000, 50000]     1
(10000, 15000]     0
(15000, 20000]     0
(30000, 40000]     0
Name: intervalos, dtype: int64

## qcut() calcula quantis de amostra.

- Divir em quartis de tamanhos iguais, como:

In [7]:
df['intervalos'] = pd.qcut(df.OBITOS, [0, .25, .5, .75, 1])

df.head()

         REGIAO  UF   CASOS  OBITOS         intervalos
0  Centro-Oeste  DF  221526    3845   (2285.0, 4009.0]
1  Centro-Oeste  GO  269857    6107   (4009.0, 6600.0]
2  Centro-Oeste  MS   89654    1699  (708.999, 2285.0]
3  Centro-Oeste  MT  152968    4009   (2285.0, 4009.0]
4      Nordeste  AL   92951    2304   (2285.0, 4009.0]

In [8]:
pd.value_counts(df['intervalos'])

(708.999, 2285.0]    7
(2285.0, 4009.0]     7
(6600.0, 40927.0]    7
(4009.0, 6600.0]     6
Name: intervalos, dtype: int64

## Também podemos passar valores infinitos para definir os bins:

In [9]:
df['intervalos'] = pd.cut(df.OBITOS, [-np.inf, 3000, 5000 ,np.inf])

df['intervalos'].head()

0    (3000.0, 5000.0]
1       (5000.0, inf]
2      (-inf, 3000.0]
3    (3000.0, 5000.0]
4      (-inf, 3000.0]
Name: intervalos, dtype: category
Categories (3, interval[float64]): [(-inf, 3000.0] < (3000.0, 5000.0] < (5000.0, inf]]

In [10]:
pd.value_counts(df['intervalos'])

(-inf, 3000.0]      10
(5000.0, inf]       10
(3000.0, 5000.0]     7
Name: intervalos, dtype: int64