# 04 - Pandas - Processamento e Análise de Dados
## Aula 11 - 18 - Pandas - Uso dos Métodos Vetorizados do Tipo String

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/

## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

# Pandas - Uso dos Métodos Vetorizados do Tipo String

# Métodos vetorizados de string 
A série é equipada com um conjunto de métodos de processamento de strings que facilitam a operação em cada elemento da matriz.

Eles são acessados ​​por meio do stratributo da série e geralmente têm nomes que correspondem aos métodos de string embutidos equivalentes (escalares).

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('./content/totaisregioes_arr.csv', sep=';',names =['REGIAO', 'CASOS','OBITOS'], index_col=False)
df.head()

         REGIAO    CASOS  OBITOS
0  Centro-Oeste   734005   15660
1      Nordeste  1553565   43546
2         Norte   739331   16428
3       Sudeste  2078787   76288
4           Sul   840161   15533

In [2]:
df['REGIAO'].str.lower()

0    centro-oeste
1        nordeste
2           norte
3         sudeste
4             sul
Name: REGIAO, dtype: object

In [3]:
df['REGIAO'].str.upper()

0    CENTRO-OESTE
1        NORDESTE
2           NORTE
3         SUDESTE
4             SUL
Name: REGIAO, dtype: object

In [4]:
df['REGIAO'].str.title()

0    Centro-Oeste
1        Nordeste
2           Norte
3         Sudeste
4             Sul
Name: REGIAO, dtype: object