# 04 - Pandas - Processamento e Análise de Dados
## Aula 11 - 10 - Pandas - Localizando a Posição do Maior e do Menor Valor Na Coluna do DataFrame

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/

## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

# Pandas - Localizando a Posição do Maior e do Menor Valor Na Coluna do DataFrame
## Índice de valores mín. / Máx. 
- As funções idxmin()e idxmax() em Series e DataFrame calculam os rótulos de índice correspondentes aos valores mínimo e máximo 
- idxmine idxmax são chamados argmine argmaxem NumPy.
- Quando houver várias linhas (ou colunas) correspondendo ao valor mínimo ou máximo idxmin()e idxmax() retornar o primeiro índice correspondente

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('./content/totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF','CASOS','OBITOS'])
df.head()

         REGIAO  UF   CASOS  OBITOS
0  Centro-Oeste  DF  221526    3845
1  Centro-Oeste  GO  269857    6107
2  Centro-Oeste  MS   89654    1699
3  Centro-Oeste  MT  152968    4009
4      Nordeste  AL   92951    2304

In [2]:
df.CASOS.idxmin(), df.CASOS.idxmax()

(13, 23)

In [3]:
df[['CASOS', 'OBITOS']].idxmin(axis=0)

CASOS     13
OBITOS    13
dtype: int64

In [4]:
df[['CASOS', 'OBITOS']].T

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
CASOS,221526,269857,89654,152968,92951,377445,288122,190321,140355,172716,...,76019,61001,78618,174144,387751,332396,1184496,246169,287204,306788
OBITOS,3845,6107,1699,4009,2304,8013,9461,4203,3223,8873,...,1511,709,1144,4058,9605,21698,40927,5793,6356,3384

In [5]:
df[['CASOS', 'OBITOS']].T.idxmin(axis=1)

CASOS     13
OBITOS    13
dtype: int64