# 04 - Pandas - Processamento e Análise de Dados
## Aula 11 - 25 - Pandas - Explodindo Conteúdos das Células em Linhas (explode)

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/



## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

#  Pandas - Explodindo Conteúdos das Células em Linhas (explode)

In [1]:
import numpy as np
import pandas as pd

## Explodindo uma coluna semelhante a uma lista 
Às vezes, os valores em uma coluna são semelhantes a listas.
Podemos 'explodir' a valuescoluna, transformando cada tipo de lista em uma linha separada, usando explode(). Isso irá replicar os valores de índice da linha original

In [2]:
ufs = [{"id":11,"sigla":"RO","nome":"Rondônia","regiao":{"id":1,"sigla":"N","nome":"Norte"}},
       {"id":12,"sigla":"AC","nome":"Acre","regiao":{"id":1,"sigla":"N","nome":"Norte"}},
       {"id":13,"sigla":"AM","nome":"Amazonas","regiao":{"id":1,"sigla":"N","nome":"Norte"}},
       {"id":14,"sigla":"RR","nome":"Roraima","regiao":{"id":1,"sigla":"N","nome":"Norte"}},
       {"id":15,"sigla":"PA","nome":"Pará","regiao":{"id":1,"sigla":"N","nome":"Norte"}},
       {"id":16,"sigla":"AP","nome":"Amapá","regiao":{"id":1,"sigla":"N","nome":"Norte"}},
       {"id":17,"sigla":"TO","nome":"Tocantins","regiao":{"id":1,"sigla":"N","nome":"Norte"}},
       {"id":21,"sigla":"MA","nome":"Maranhão","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},
       {"id":22,"sigla":"PI","nome":"Piauí","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},
       {"id":23,"sigla":"CE","nome":"Ceará","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},
       {"id":24,"sigla":"RN","nome":"Rio Grande do Norte","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},
       {"id":25,"sigla":"PB","nome":"Paraíba","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},
       {"id":26,"sigla":"PE","nome":"Pernambuco","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},
       {"id":27,"sigla":"AL","nome":"Alagoas","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},
       {"id":28,"sigla":"SE","nome":"Sergipe","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},
       {"id":29,"sigla":"BA","nome":"Bahia","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},
       {"id":31,"sigla":"MG","nome":"Minas Gerais","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}},
       {"id":32,"sigla":"ES","nome":"Espírito Santo","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}},
       {"id":33,"sigla":"RJ","nome":"Rio de Janeiro","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}},
       {"id":35,"sigla":"SP","nome":"São Paulo","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}},
       {"id":41,"sigla":"PR","nome":"Paraná","regiao":{"id":4,"sigla":"S","nome":"Sul"}},
       {"id":42,"sigla":"SC","nome":"Santa Catarina","regiao":{"id":4,"sigla":"S","nome":"Sul"}},
       {"id":43,"sigla":"RS","nome":"Rio Grande do Sul","regiao":{"id":4,"sigla":"S","nome":"Sul"}},
       {"id":50,"sigla":"MS","nome":"Mato Grosso do Sul","regiao":{"id":5,"sigla":"CO","nome":"Centro-Oeste"}},
       {"id":51,"sigla":"MT","nome":"Mato Grosso","regiao":{"id":5,"sigla":"CO","nome":"Centro-Oeste"}},
       {"id":52,"sigla":"GO","nome":"Goiás","regiao":{"id":5,"sigla":"CO","nome":"Centro-Oeste"}},
       {"id":53,"sigla":"DF","nome":"Distrito Federal","regiao":{"id":5,"sigla":"CO","nome":"Centro-Oeste"}}]

In [3]:
dictreg = []
regiao = {}
for uf in ufs:
    #print(uf)
    if regiao != {} and regiao['id'] != uf['regiao']['id'] :
        dictreg.append(regiao)
        regiao = {}
    
    if regiao == {} or regiao['id'] != uf['regiao']['id']  :
        regiao = uf['regiao'].copy() 
        

    if regiao.get('ufs')  is None:
        regiao['ufs'] = [uf['nome'],]
    else:
        regiao['ufs'].append(uf['nome'])

In [4]:
dictreg

[{'id': 1,
  'sigla': 'N',
  'nome': 'Norte',
  'ufs': ['Rondônia',
   'Acre',
   'Amazonas',
   'Roraima',
   'Pará',
   'Amapá',
   'Tocantins']},
 {'id': 2,
  'sigla': 'NE',
  'nome': 'Nordeste',
  'ufs': ['Maranhão',
   'Piauí',
   'Ceará',
   'Rio Grande do Norte',
   'Paraíba',
   'Pernambuco',
   'Alagoas',
   'Sergipe',
   'Bahia']},
 {'id': 3,
  'sigla': 'SE',
  'nome': 'Sudeste',
  'ufs': ['Minas Gerais', 'Espírito Santo', 'Rio de Janeiro', 'São Paulo']},
 {'id': 4,
  'sigla': 'S',
  'nome': 'Sul',
  'ufs': ['Paraná', 'Santa Catarina', 'Rio Grande do Sul']}]

In [5]:
dfregioes = pd.DataFrame(dictreg)  
dfregioes.head()

   id sigla      nome                                                ufs
0   1     N     Norte  [Rondônia, Acre, Amazonas, Roraima, Pará, Amap...
1   2    NE  Nordeste  [Maranhão, Piauí, Ceará, Rio Grande do Norte, ...
2   3    SE   Sudeste  [Minas Gerais, Espírito Santo, Rio de Janeiro,...
3   4     S       Sul        [Paraná, Santa Catarina, Rio Grande do Sul]

In [6]:
dfregioes['ufs'].explode()

0               Rondônia
0                   Acre
0               Amazonas
0                Roraima
0                   Pará
0                  Amapá
0              Tocantins
1               Maranhão
1                  Piauí
1                  Ceará
1    Rio Grande do Norte
1                Paraíba
1             Pernambuco
1                Alagoas
1                Sergipe
1                  Bahia
2           Minas Gerais
2         Espírito Santo
2         Rio de Janeiro
2              São Paulo
3                 Paraná
3         Santa Catarina
3      Rio Grande do Sul
Name: ufs, dtype: object

Você também pode explodir a coluna no DataFrame.

In [7]:
dfregioes.explode('ufs').head(20)

   id sigla      nome                  ufs
0   1     N     Norte             Rondônia
0   1     N     Norte                 Acre
0   1     N     Norte             Amazonas
0   1     N     Norte              Roraima
0   1     N     Norte                 Pará
0   1     N     Norte                Amapá
0   1     N     Norte            Tocantins
1   2    NE  Nordeste             Maranhão
1   2    NE  Nordeste                Piauí
1   2    NE  Nordeste                Ceará
1   2    NE  Nordeste  Rio Grande do Norte
1   2    NE  Nordeste              Paraíba
1   2    NE  Nordeste           Pernambuco
1   2    NE  Nordeste              Alagoas
1   2    NE  Nordeste              Sergipe
1   2    NE  Nordeste                Bahia
2   3    SE   Sudeste         Minas Gerais
2   3    SE   Sudeste       Espírito Santo
2   3    SE   Sudeste       Rio de Janeiro
2   3    SE   Sudeste            São Paulo

### Exemplo de uso da função explode com strings separadas por vírgulas em uma coluna

In [8]:
dictreg = []
regiao = {}
for uf in ufs:
    #print(uf)
    if regiao != {} and regiao['id'] != uf['regiao']['id'] :
        regiao['ufs'] = ';'.join(regiao['ufs'])
        dictreg.append(regiao)
        regiao = {}
    
    if regiao == {} or regiao['id'] != uf['regiao']['id']  :
        regiao = uf['regiao'].copy() 
        

    if regiao.get('ufs')  is None:
        regiao['ufs'] = [uf['nome'],]
    else:
        regiao['ufs'].append(uf['nome'])

In [9]:
dictreg

[{'id': 1,
  'sigla': 'N',
  'nome': 'Norte',
  'ufs': 'Rondônia;Acre;Amazonas;Roraima;Pará;Amapá;Tocantins'},
 {'id': 2,
  'sigla': 'NE',
  'nome': 'Nordeste',
  'ufs': 'Maranhão;Piauí;Ceará;Rio Grande do Norte;Paraíba;Pernambuco;Alagoas;Sergipe;Bahia'},
 {'id': 3,
  'sigla': 'SE',
  'nome': 'Sudeste',
  'ufs': 'Minas Gerais;Espírito Santo;Rio de Janeiro;São Paulo'},
 {'id': 4,
  'sigla': 'S',
  'nome': 'Sul',
  'ufs': 'Paraná;Santa Catarina;Rio Grande do Sul'}]

In [10]:
        
dfregioes = pd.DataFrame(dictreg)  
dfregioes.head()

   id sigla      nome                                                ufs
0   1     N     Norte  Rondônia;Acre;Amazonas;Roraima;Pará;Amapá;Toca...
1   2    NE  Nordeste  Maranhão;Piauí;Ceará;Rio Grande do Norte;Paraí...
2   3    SE   Sudeste  Minas Gerais;Espírito Santo;Rio de Janeiro;São...
3   4     S       Sul            Paraná;Santa Catarina;Rio Grande do Sul

In [11]:
dfregioes.assign(ufs=dfregioes.ufs.str.split(';')).explode('ufs').head()

   id sigla   nome       ufs
0   1     N  Norte  Rondônia
0   1     N  Norte      Acre
0   1     N  Norte  Amazonas
0   1     N  Norte   Roraima
0   1     N  Norte      Pará