# 01 - Introdução à Linguagem Python
## Aula 02 - 05 - Exercícios de Fixação

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/



## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

# Exercícios de Fixação
***
## Primeira parte
- Execute as linhas de códigos abaixo nas diferentes formas aprendidas na aula:
```
print('Olá pessoal!  Esse é o meu segundo notebook jupyter.') 
print('2500 + 500 =', 2500 + 500)
print('30 * 30 =', 30 * 30)
print('850 - 350 =', 850 - 350)
```
  - Diretamente no console digitandos comandos;
  - Criando um arquivo e executando pelo console;
  - Criar um notebook no juptyer na máquina local, preencher e executar as células (nome do notebook  deve ser meusegundonotebook);
  - Criar um notebook no Google Colab e , preencher e executar as células(nome do notebook  deve ser meusegundonotebook);

***
## Segunda parte

- Crie um novo notebook no Google Colab com uma célula do tipo texto para o euniciado e uma célula do tipo código fonte para o resolução de cada um dos problemas enunciados abaixo (fonte dos exercícios: https://www.math-only-math.com/worksheet-on-word-problems-on-four-operations.html):
  1.  A população de uma cidade é 198568. Destes, 45312 são homens e 35678 são mulheres. Encontre o número de crianças na cidade.
  2.  Um lojista tem 2.425 caixas de 24 lápis cada. Quantos lápis todas as caixas têm ao todo?
  3.  Linda comprou um casaco por 2.265 e um vestido por 2.150. Ela deu 5000 para o lojista. Quanto dinheiro o lojista devolveu a ela?
  4.  O custo de 21 aparelhos de TV é de 95.844. Encontre o custo de um aparelho de TV.
  5.  Uma fábrica produz 24532 lâmpadas em um mês. Qual é a sua produção anual?
  6. Há 145968 sacos de açúcar, 236487 sacos de trigo e alguns sacos de arroz em um depósito. Se o número total de sacos no depósito for 450000, encontre o número de sacos de arroz.
  7. Uma fábrica fabricou 483685 brinquedos em três semanas. A produção na primeira semana foi de 146345 brinquedos e na segunda semana 138152 brinquedos. Encontre a produção na terceira semana.
  8. O custo de um conjunto de sofás é de  9.372. Quanto custarão 124 conjuntos de sofás?
  9. Existem 86 salas em uma escola. 4356 alunos estudam lá. Se dividir igualmente o numero de alunos entre as salas. Quantos alunos estaria em cada sala?
  10. 1575 alunos de uma escola querem ir para um evento de ônibus. Se um ônibus pode transportar 75 alunos, quantos ônibus são necessários para transportar todos os alunos?