# 01 - Introdução à Linguagem Python
## Aula 08 - 03 - Manipulação de Banco de Dados com Python

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/



## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

# Manipulação de Banco de Dados com Python

# SQLite3
- https://www.tutorialspoint.com/sqlite/sqlite_python.htm

## Criando Banco de dados  SQLite3

In [1]:
import os

if not os.path.exists('Database'):
    os.makedirs('Database')

In [2]:
import sqlite3
banco = "Database/dados.db"
try:
  with open(banco): 
    print ('Banco de dados já existe!')
except IOError as e:
  blank_db = sqlite3.connect(banco)
  print ('banco vazio foi criado')

Banco de dados já existe!

## Conectar ao Banco de dados

In [3]:
conn = sqlite3.connect(banco)

## Criando tabelas no banco de dados

In [4]:
conn.execute('''
    drop TABLE pessoas 
''')

In [5]:
conn.execute('''
    CREATE TABLE pessoas (
      id INTEGER PRIMARY KEY,
      nome TEXT NOT NULL,
      idade  INTEGER NOT NULL
    )
''')

In [6]:
try:
  cur = conn.cursor()
  cur.execute(''' select * from pessoas; ''')
  cur.close()
except:
  conn.execute('''
    CREATE TABLE pessoas (
      id INTEGER PRIMARY KEY,
      nome TEXT NOT NULL,
      idade  INTEGER NOT NULL
    )
''')

## Inserindo Registros

In [7]:
sql = f'INSERT INTO pessoas (id, nome, idade) VALUES (?,?,?);'
cur = conn.cursor()
cur.execute(sql,(1,'Jose',20))
conn.commit()

## Consultando Registros

In [8]:
cur = conn.cursor()
cur.execute("SELECT * FROM pessoas")
linhas = cur.fetchall()
for linha in linhas:
    print(linha)

(1, 'Jose', 20)

In [9]:
sql = f'INSERT INTO pessoas (id, nome, idade) VALUES (?,?,?);'
cur = conn.cursor()
cur.execute(sql,(2,'João',40))
conn.commit()

In [10]:
cur = conn.cursor()
cur.execute("SELECT * FROM pessoas")
linhas = cur.fetchall()
for linha in linhas:
    print(linha)

(1, 'Jose', 20)
(2, 'João', 40)

## Apagando registros

In [11]:
cur = conn.cursor()
cur.execute("DELETE FROM pessoas")
conn.commit()


cur = conn.cursor()
cur.execute("SELECT * FROM pessoas")
rows = cur.fetchall()
for row in rows:
    print(row)

## Inserindo vários registros em lote

In [12]:
valores = [(1, 'Jose', '20'), (2, 'João', '40'),(3, 'Maria', '30'), 
           (4, 'Marta', '87'),(5, 'Elias', '78'), (6, 'Gabriel', '56'),
           (7, 'Daniel', '23'), (8, 'Antonio', '34')]
sql = f'INSERT INTO pessoas (id, nome, idade) VALUES (?,?,?);'
cur = conn.cursor()
cur.executemany(sql,valores)
conn.commit()

In [13]:
cur = conn.cursor()
cur.execute("INSERT INTO pessoas (id, nome, idade) VALUES (10,'Willian',25);")
conn.commit()

In [14]:
cur = conn.cursor()
cur.execute("SELECT * FROM pessoas")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Jose', 20)
(2, 'João', 40)
(3, 'Maria', 30)
(4, 'Marta', 87)
(5, 'Elias', 78)
(6, 'Gabriel', 56)
(7, 'Daniel', 23)
(8, 'Antonio', 34)
(10, 'Willian', 25)

## Atualizando registros

In [15]:
cur = conn.cursor()
cur.execute("SELECT * FROM pessoas")
rows = cur.fetchall()
for row in rows:
  print(row)
  cur.execute("UPDATE pessoas SET nome = ? where id = ?", (row[1].upper(), row[0]))
  conn.commit()

(1, 'Jose', 20)
(2, 'João', 40)
(3, 'Maria', 30)
(4, 'Marta', 87)
(5, 'Elias', 78)
(6, 'Gabriel', 56)
(7, 'Daniel', 23)
(8, 'Antonio', 34)
(10, 'Willian', 25)

In [16]:
cur = conn.cursor()
cur.execute("UPDATE pessoas SET nome = 'Jose' where id = 1")
conn.commit()

In [17]:
cur = conn.cursor()
cur.execute("SELECT * FROM pessoas")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Jose', 20)
(2, 'JOÃO', 40)
(3, 'MARIA', 30)
(4, 'MARTA', 87)
(5, 'ELIAS', 78)
(6, 'GABRIEL', 56)
(7, 'DANIEL', 23)
(8, 'ANTONIO', 34)
(10, 'WILLIAN', 25)

## Apagando Registros

In [18]:
cur = conn.cursor()
cur.execute("DELETE FROM pessoas WHERE nome LIKE 'MA%'")
conn.commit()
cur.execute("SELECT * FROM pessoas")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Jose', 20)
(2, 'JOÃO', 40)
(5, 'ELIAS', 78)
(6, 'GABRIEL', 56)
(7, 'DANIEL', 23)
(8, 'ANTONIO', 34)
(10, 'WILLIAN', 25)

## Selecionando registros com filtros

In [19]:
cur = conn.cursor()
cur.execute("""SELECT *  
               FROM pessoas WHERE nome = ?
            """, ('ANTONIO',))
rows = cur.fetchall()
for row in rows:
    print(row)

(8, 'ANTONIO', 34)

## Fazendo estatísticas no banco de dados

In [20]:
cur = conn.cursor()
cur.execute("""SELECT avg(idade)
               FROM pessoas 
               where nome like 'J%'
            """)
rows = cur.fetchall()
for row in rows:
    print(row)

(30.0,)

In [21]:
cur = conn.cursor()
cur.execute("""SELECT max(idade)
               FROM pessoas 
            """)
rows = cur.fetchall()
for row in rows:
    print(row)

(78,)

In [22]:
cur = conn.cursor()
cur.execute("""SELECT min(idade)
               FROM pessoas 
            """)
rows = cur.fetchall()
for row in rows:
    print(row)

(20,)

## usando subsconsultas

In [23]:
cur = conn.cursor()
cur.execute("""SELECT *
               FROM pessoas 
               WHERE idade = (SELECT max(idade) FROM pessoas)
            """)
rows = cur.fetchall()
for row in rows:
    print(row)

(5, 'ELIAS', 78)

## Retornando os metadados da tabela

In [24]:
cur = conn.cursor()
cur.execute(""" SELECT sql 
                FROM sqlite_master 
                WHERE name = 'pessoas';
            """)
rows = cur.fetchall()
for row in rows:
    print(row[0])

CREATE TABLE pessoas (
      id INTEGER PRIMARY KEY,
      nome TEXT NOT NULL,
      idade  INTEGER NOT NULL
    )

## Obtendo os nomes dos campos da consulta

In [25]:
[d[0] for d in cur.description]

['sql']

In [26]:
cur = conn.cursor()
cur.execute("SELECT * FROM pessoas")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Jose', 20)
(2, 'JOÃO', 40)
(5, 'ELIAS', 78)
(6, 'GABRIEL', 56)
(7, 'DANIEL', 23)
(8, 'ANTONIO', 34)
(10, 'WILLIAN', 25)

In [27]:
cur.description

(('id', None, None, None, None, None, None),
 ('nome', None, None, None, None, None, None),
 ('idade', None, None, None, None, None, None))

## Gerando um dicionário com o resultado da consulta ao banco

In [28]:
camposresultado = [d[0] for d in cur.description]
pessoas_bd_dict = {}
for row in rows:
  dict1 = {}
  id = row[camposresultado.index('id')]
  for chave in camposresultado:
    dict1[chave] = row[camposresultado.index(chave)]
  pessoas_bd_dict[id] = dict1
print(pessoas_bd_dict)

{1: {'id': 1, 'nome': 'Jose', 'idade': 20}, 2: {'id': 2, 'nome': 'JOÃO', 'idade': 40}, 5: {'id': 5, 'nome': 'ELIAS', 'idade': 78}, 6: {'id': 6, 'nome': 'GABRIEL', 'idade': 56}, 7: {'id': 7, 'nome': 'DANIEL', 'idade': 23}, 8: {'id': 8, 'nome': 'ANTONIO', 'idade': 34}, 10: {'id': 10, 'nome': 'WILLIAN', 'idade': 25}}

## Leituras Adicionais e Referências:

- Python Tutorial at W3Schools: https://www.w3schools.com/python/
- Python official documentation: https://docs.python.org/3/tutorial/index.html
- Tutorial SQL: https://www.w3schools.com/sql/default.asp
- Tutorial SQLite3: https://www.tutorialspoint.com/sqlite/sqlite_python.htm