# 01 - Introdução à Linguagem Python
## Aula 04 - 03 - Loop com FOR

## Professor: Orlando Oliveira dos Santos, MsC.
 - E-mail: professor.orlando.santos@gmail.com 
 - Youtube :https://www.youtube.com/channel/UCPWWbkPWFmOjXH50TQWNAYg
 - Linkedin: https://linkedin.com/in/orlandoosantos
 - Facebook: https://www.facebook.com/proforlandosantosmsc/
 - Twitter: https://twitter.com/ProfOrlandoMsC
 - Instagram: https://www.instagram.com/proforlandosantosmsc/



## Formação Acadêmica
- Mestrado em Computação Aplicada - UnB (2014 – 2016)	
- MBA, Administração Estratégica de Sistemas de Informação – FGV (2011 – 2013)
- Tecnólogo em Processamento de Dados, Análise e Desenvolvimento de Sistemas – FAETEC/SP (2000-2002)

# Loop com FOR

## Iteração Looping usando For 
### For loops

Um laço for é utilizado para a iteração através de uma sequência e  funciona mais como um método iterador, em que podemos executar um conjunto de instruções, uma vez para cada item em uma lista, tupla, conjunto etc.

In [1]:
regioes = ["Norte", "Nordeste", "Sudeste", "Sul", "Centro-Oeste"]
for x in regioes:
  print('Inicio das instruções')
  print('  >', x.upper())
  print('  >',x.title())
  print('  >',x.lower())
  print('  >',x*3)
  print('Fim das instruções')

Inicio das instruções
  > NORTE
  > Norte
  > norte
  > NorteNorteNorte
Fim das instruções
Inicio das instruções
  > NORDESTE
  > Nordeste
  > nordeste
  > NordesteNordesteNordeste
Fim das instruções
Inicio das instruções
  > SUDESTE
  > Sudeste
  > sudeste
  > SudesteSudesteSudeste
Fim das instruções
Inicio das instruções
  > SUL
  > Sul
  > sul
  > SulSulSul
Fim das instruções
Inicio das instruções
  > CENTRO-OESTE
  > Centro-Oeste
  > centro-oeste
  > Centro-OesteCentro-OesteCentro-Oeste
Fim das instruções

### A declaração de break (Interrupção do for)
Com a instrução break , podemos interromper o loop antes que ele percorra todos os itens:

In [2]:
regioes = ["Norte", "Nordeste", "Sudeste", "Sul", "Centro-Oeste"]
regiao_desejada = "Nordeste"
for x in regioes:
  print('Inicio das instruções')
  print('  >', x.upper())
  print('  >',x.title())
  print('  >',x.lower())
  print('  >',x*3)
  print('Fim das instruções')
  if x == regiao_desejada :
    print(f'Achei o que procurava! A região {x}')
    break

Inicio das instruções
  > NORTE
  > Norte
  > norte
  > NorteNorteNorte
Fim das instruções
Inicio das instruções
  > NORDESTE
  > Nordeste
  > nordeste
  > NordesteNordesteNordeste
Fim das instruções
Achei o que procurava! A região Nordeste

### A instrução continue
Com a instrução continue , podemos parar a iteração atual do loop e continuar com a próxima interação:

In [3]:
regioes = ["Norte", "Nordeste", "Sudeste", "Sul", "Centro-Oeste"]
regiao_desejada = "Sul"
for x in regioes:
  if not x == regiao_desejada :
    print(f'{x} não é o que estou procurando!')
    continue
  print('Inicio das instruções')
  print('  >', x.upper())
  print('  >',x.title())
  print('  >',x.lower())
  print('  >',x*3)
  print('Fim das instruções')
  if x == regiao_desejada :
    print(f'Achei o que procurava! A região {x}')
    break

Norte não é o que estou procurando!
Nordeste não é o que estou procurando!
Sudeste não é o que estou procurando!
Inicio das instruções
  > SUL
  > Sul
  > sul
  > SulSulSul
Fim das instruções
Achei o que procurava! A região Sul

### Looping em strings
Como as  strings são arrays de caracteres, elas são iteráveis com o "for"

In [4]:
for letra in "Centro-Oeste":
  print(letra)

C
e
n
t
r
o
-
O
e
s
t
e

### For loop com a função range()

A função range pode ser usada para gerar uma sequência de números para ser usa no for.

In [5]:
for i in range(21):
  print(i, end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [6]:
for i in range(21):
  print(i, end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [7]:
#imprimir a lista de numeros pares menores ou igual a 20
for i in range(21):
  if i % 2 == 0:
    print(i, end=',')

0,2,4,6,8,10,12,14,16,18,20,

In [8]:
#imprimir a lista de numeros pares menores ou igual a 20
for i in range(0,21,2):
  print(i, end=',')

0,2,4,6,8,10,12,14,16,18,20,

In [9]:
## Calcula a média de idades com o for
idades = [23,25,'Não revelo minha idade',30,34, 'Não sei quando nasci', 27,28,None,23,24,None,25,32,43,None,32,54, 'pergunta para minha mãe',30,None,33]
total = 0
n =  0
for valor in idades:
    if type(valor) != int and type(valor) != float:
      continue

    total += valor
    n += 1

media = total / n
print(f'A média da idade dos alunos é {media:.2f}')

A média da idade dos alunos é 30.87

### Loops aninhados com o for

Podem ser criados quantos loops aninhados quanto forem necessário, bastando observar a correta identação.

In [10]:
#Tabuada de Multiplicação com o For
print('_'*72)
print('|{0:^70s}|'.format('Tabuada de Multiplicação com o For'))
print('_'*72)
for x in range(1,11):
  for y in range(1,11):
    if y==10:
      print(f'|{x*y:>6d} |')
    else:
      print(f'|{x*y:>6d}', end='')
  print('_'*72)

________________________________________________________________________
|                  Tabuada de Multiplicação com o For                  |
________________________________________________________________________
|     1|     2|     3|     4|     5|     6|     7|     8|     9|    10 |
________________________________________________________________________
|     2|     4|     6|     8|    10|    12|    14|    16|    18|    20 |
________________________________________________________________________
|     3|     6|     9|    12|    15|    18|    21|    24|    27|    30 |
________________________________________________________________________
|     4|     8|    12|    16|    20|    24|    28|    32|    36|    40 |
________________________________________________________________________
|     5|    10|    15|    20|    25|    30|    35|    40|    45|    50 |
________________________________________________________________________
|     6|    12|    18|    24|    30|    36|    42|    48|    54|    60 |
________________________________________________________________________
|     7|    14|    21|    28|    35|    42|    49|    56|    63|    70 |
________________________________________________________________________
|     8|    16|    24|    32|    40|    48|    56|    64|    72|    80 |
________________________________________________________________________
|     9|    18|    27|    36|    45|    54|    63|    72|    81|    90 |
________________________________________________________________________
|    10|    20|    30|    40|    50|    60|    70|    80|    90|   100 |
________________________________________________________________________

In [11]:
#Imprimindo o Calendário do Mês
Mes = 'Outubro'
dias_semana = ['domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado']
mes_inicia_dia_semana = 'quinta-feira'
quantidade_dias_do_mes = 31
dia_mes = 0
print('_'*112)
print('|{0:^111s}|'.format(Mes))
print('_'*112)
for dia_semana in dias_semana:
  if dia_semana =='sábado':
    print(f'|{dia_semana:^15s}|')
  else:
    print(f'|{dia_semana:^15s}', end='')

for posicao in range(1,5 * 7 + 1):
  if dia_mes == 0 and dias_semana[posicao-1]!=mes_inicia_dia_semana:
    print(f'|{" ":>15s}', end='') 
    continue
  
  dia_mes += 1
  if posicao % 7 == 0:
    print(f'|{dia_mes:>15d}|' if dia_mes <= quantidade_dias_do_mes else  f'|{" ":>15s}|')
  else:
    print(f'|{dia_mes:>15d}' if dia_mes <= quantidade_dias_do_mes else  f'|{" ":>15s}', end='')
print('_'*112)

________________________________________________________________________________________________________________
|                                                    Outubro                                                    |
________________________________________________________________________________________________________________
|    domingo    | segunda-feira |  terça-feira  | quarta-feira  | quinta-feira  |  sexta-feira  |    sábado     |
|               |               |               |               |              1|              2|              3|
|              4|              5|              6|              7|              8|              9|             10|
|             11|             12|             13|             14|             15|             16|             17|
|             18|             19|             20|             21|             22|             23|             24|
|             25|             26|             27|             28|             29|             30|             31|
________________________________________________________________________________________________________________

## Leituras Adicionais e Referências:

- Python Tutorial at W3Schools: https://www.w3schools.com/python/
- Python official documentation: https://docs.python.org/3/tutorial/index.html